  {% include '/includes/header.html' %}
<main>
         <div class="container my-5">
            <div class="section-title mb-10">
               <div class="row">
                  <div class="col-md-12 text-center">
                     <h2 class="mt-0 text-left">About NSTU</h2>
                     <hr class="hr">
                  </div>
               </div>
            </div>
            <div class="row border-right border-left py-2">
               <div class="col-md-12">
                  <div class="text-justify">
                     <p style="text-align: justify">{{ data[1] }}</p>
                  </div>
               </div>
            </div>
         </div>
      </main>

      {% include 'chatbot.html' %}
  {% include '/includes/footer.html' %}