{% include '/includes/header.html' %}
<main>
    <section id="chancellor" class="bg-light-gray-2 my-5">
       <div class="container" style="padding-top: 50px">
          <div class="section-title mb-10">
             <div class="row">
                <div class="col-md-12 text-left">
                   <h4 class="mt-0 text-primary"><b>Rules and Regulations</b></h4>
                   <hr class="hr">
                </div>
             </div>
          </div>
          <div class="section-content">
             <div class="row">
                <div class="col-sm-12">
                   <div class="row">
                      <div class="col-sm-12">                         
                         <input class="form-control" id="myInput_acts" type="text" placeholder="Search...">
                         <br/>
                         <table class="table table-bordered table-striped">
                            <thead>
                               <tr>
                                  <th scope="col" style="width: 5%">Sl. No</th>
                                  <th scope="col" style="width: 70%">Name of the Act/Fact</th>
                                  <th scope="col" style="width: 12.5%">Link</th>
                                  <th scope="col" style="width: 12.5%">Published Date</th>
                               </tr>
                            </thead>
                            <tbody id="myTable_acts">                               
                               <tr>
                                  <th scope="row">1</th>
                                  <td>নোবিপ্রবি অ্যাক্ট-২০০১</td>
                                  <td>
                                     <button type="button" style="border: none;">
                                     <a href="https://nstu.edu.bd/assets/documents/acts and facts/NSTU_Act_2001.pdf" target="_blank"><font size="2" color="blue">Download </font></a>
                                     </button> 
                                  </td>
                                  <td>05.01.2023</td>
                               </tr>
                               
                               <tr>
                                  <th scope="row">2</th>
                                  <td>বাসা ভাড়া নীতিমালা</td>
                                  <td>
                                     <button type="button" style="border: none;">
                                     <a href="https://nstu.edu.bd/assets/documents/acts and facts/home_rent_related.pdf" target="_blank"><font size="2" color="blue">Download </font></a>
                                     </button> 
                                  </td>
                                  <td>05.01.2023</td>
                               </tr>
                               
                                <tr>
                                  <th scope="row">3</th>
                                  <td>আবাসিক হলের নীতিমালা</td>
                                  <td>
                                     <button type="button" style="border: none;">
                                     <a href="https://nstu.edu.bd/assets/documents/acts and facts/আবাসিক হলের নীতিমালা.pdf" target="_blank"><font size="2" color="blue">Download </font></a>
                                     </button> 
                                  </td>
                                  <td>05.01.2023</td>
                               </tr>
                               
                               <tr>
                                  <th scope="row">4</th>
                                  <td>উচ্চশিক্ষা ও প্রশিক্ষণ সংক্রান্ত নীতিমালা</td>
                                  <td>
                                     <button type="button" style="border: none;">
                                     <a href="https://nstu.edu.bd/assets/documents/acts and facts/উচ্চশিক্ষা ও প্রশিক্ষণ সংক্রান্ত নীতিমালা.pdf" target="_blank"><font size="2" color="blue">Download </font></a>
                                     </button> 
                                  </td>
                                  <td>05.01.2023</td>
                               </tr>
                               
                               <tr>
                                  <th scope="row">5</th>
                                  <td>ছাত্র শৃংখলা বিধি</td>
                                  <td>
                                     <button type="button" style="border: none;">
                                     <a href="https://nstu.edu.bd/assets/documents/acts and facts/ছাত্র শৃংখলা বিধি.pdf" target="_blank"><font size="2" color="blue">Download </font></a>
                                     </button> 
                                  </td>
                                  <td>05.01.2023</td>
                               </tr>
                               
                               <tr>
                                  <th scope="row">6</th>
                                  <td>ছুটির নীতিমালা</td>
                                  <td>
                                     <button type="button" style="border: none;">
                                     <a href="https://nstu.edu.bd/assets/documents/acts and facts/ছুটির নীতিমালা.pdf" target="_blank"><font size="2" color="blue">Download </font></a>
                                     </button> 
                                  </td>
                                  <td>05.01.2023</td>
                               </tr>
                               
                               <tr>
                                  <th scope="row">7</th>
                                  <td>পরীক্ষা অধ্যাদেশ</td>
                                  <td>
                                     <button type="button" style="border: none;">
                                     <a href="https://nstu.edu.bd/assets/documents/acts and facts/পরীক্ষা অধ্যাদেশ.pdf" target="_blank"><font size="2" color="blue">Download </font></a>
                                     </button> 
                                  </td>
                                  <td>05.01.2023</td>
                               </tr>
                               
                               <tr>
                                  <th scope="row">8</th>
                                  <td>পরীক্ষা গ্রহণ সংক্রান্ত নীতিমালা</td>
                                  <td>
                                     <button type="button" style="border: none;">
                                     <a href="https://nstu.edu.bd/assets/documents/acts and facts/পরীক্ষা গ্রহণ সংক্রান্ত নীতিমালা.pdf" target="_blank"><font size="2" color="blue">Download </font></a>
                                     </button> 
                                  </td>
                                  <td>05.01.2023</td>
                               </tr>
                               
                               <tr>
                                  <th scope="row">9</th>
                                  <td>প্রক্টরিয়াল রুলস</td>
                                  <td>
                                     <button type="button" style="border: none;">
                                     <a href="https://nstu.edu.bd/assets/documents/acts and facts/প্রক্টরিয়াল রুলস.pdf" target="_blank"><font size="2" color="blue">Download </font></a>
                                     </button> 
                                  </td>
                                  <td>05.01.2023</td>
                               </tr>
                               
                               <tr>
                                  <th scope="row">10</th>
                                  <td>মাস্টার্স অর্ডিনেন্স</td>
                                  <td>
                                     <button type="button" style="border: none;">
                                     <a href="https://nstu.edu.bd/assets/documents/acts and facts/মাস্টার্স অর্ডিনেন্স.pdf" target="_blank"><font size="2" color="blue">Download </font></a>
                                     </button> 
                                  </td>
                                  <td>05.01.2023</td>
                               </tr>
                               
                               <tr>
                                  <th scope="row">11</th>
                                  <td>লাইব্রেরী নীতিমালা</td>
                                  <td>
                                     <button type="button" style="border: none;">
                                     <a href="https://nstu.edu.bd/assets/documents/acts and facts/লাইব্রেরী নীতিমালা.pdf" target="_blank"><font size="2" color="blue">Download </font></a>
                                     </button> 
                                  </td>
                                  <td>05.01.2023</td>
                               </tr>
                               
                               <tr>
                                  <th scope="row">12</th>
                                  <td>শিক্ষা অধ্যাদেশ</td>
                                  <td>
                                     <button type="button" style="border: none;">
                                     <a href="https://nstu.edu.bd/assets/documents/acts and facts/শিক্ষা অধ্যাদেশ.pdf" target="_blank"><font size="2" color="blue">Download </font></a>
                                     </button> 
                                  </td>
                                  <td>05.01.2023</td>
                               </tr>
                               
                               <tr>
                                  <th scope="row">13</th>
                                  <td>প্রাতিষ্ঠানিক ই-মেইল ব্যবহারের নীতিমালা</td>
                                  <td>
                                     <button type="button" style="border: none;">
                                     <a href="https://nstu.edu.bd/assets/documents/acts and facts/প্রাতিষ্ঠানিক ই-মেইল ব্যবহারের নীতিমালা.pdf" target="_blank"><font size="2" color="blue">Download </font></a>
                                     </button> 
                                  </td>
                                  <td>15.01.2023</td>
                               </tr>
                               
                               
                               <tr>
                                  <th scope="row">14</th>
                                  <td>CRCT নীতিমালা</td>
                                  <td>
                                     <button type="button" style="border: none;">
                                     <a href="https://nstu.edu.bd/assets/documents/acts and facts/CRCT নীতিমালা.pdf" target="_blank"><font size="2" color="blue">Download </font></a>
                                     </button> 
                                  </td>
                                  <td>15.01.2023</td>
                               </tr>
                               
                               
                               <tr>
                                  <th scope="row">15</th>
                                  <td>অবসর ভাতা ও আনুতোষিক সংবিধি-২০১৯</td>
                                  <td>
                                     <button type="button" style="border: none;">
                                     <a href="https://nstu.edu.bd/assets/documents/acts and facts/অবসর ভাতা ও আনুতোষিক সংবিধি-২০১৯.pdf" target="_blank"><font size="2" color="blue">Download </font></a>
                                     </button> 
                                  </td>
                                  <td>15.01.2023</td>
                               </tr>
                               
                               <tr>
                                  <th scope="row">16</th>
                                  <td>দেশে-বিদেশে সেমিনার-সিম্পোজিয়াম-ওয়ার্কশপ ও কনফারেন্সে যোগদান সম্পর্কিত বিধান</td>
                                  <td>
                                     <button type="button" style="border: none;">
                                     <a href="https://nstu.edu.bd/assets/documents/acts and facts/About Symphosim and Seminar.pdf" target="_blank"><font size="2" color="blue">Download </font></a>
                                     </button> 
                                  </td>
                                  <td>01.03.2023</td>
                               </tr>
                               
                               <tr>
                                  <th scope="row">17</th>
                                  <td>পরিবহন নীতিমালা </td>
                                  <td>
                                     <button type="button" style="border: none;">
                                     <a href="https://nstu.edu.bd/assets/documents/acts and facts/পরিবহন নীতিমালা.pdf" target="_blank"><font size="2" color="blue">Download </font></a>
                                     </button> 
                                  </td>
                                  <td>15.05.2023</td>
                               </tr>
                               
                               <tr>
                                  <th scope="row">18</th>
                                  <td>বিজ্ঞান অনুষদের পিএইচডি ভর্তির নীতিমালা </td>
                                  <td>
                                     <button type="button" style="border: none;">
                                     <a href="https://nstu.edu.bd/assets/documents/acts and facts/Ph.d. Act of Science Faculty.pdf" target="_blank"><font size="2" color="blue">Download </font></a>
                                     </button> 
                                  </td>
                                  <td>20.06.2023</td>
                               </tr>
                               
                               
                               
                            </tbody>
                         </table>
                         
                      </div>
                   </div>
                </div>
             </div>
          </div>
       
       </div>
    </section>
 </main>
 {% include '/includes/footer.html' %}