{% include '/includes/header.html' %}
<main>
    <section id="chancellor" class="bg-light-gray-2 my-5">
 <div class="container" style="padding-top: 50px">
    <div class="section-content">
       <div class="row">
          <div class="col-sm-12">
             <div class="row">
                <div class="col-md-3">
                   <div class="vertical-tab">
                      <ul class="list-group">
                         <li class="list-group-item active"><a href="#tab1" data-toggle="tab" aria-expanded="false">Overview</a></li>
                         <li class="list-group-item "><a href="#tab2" data-toggle="tab" aria-expanded="false">Mission and Vision</a></li>
                         <li class="list-group-item "><a href="#tab3" data-toggle="tab" aria-expanded="true">Message from the Librarian</a></li>
                         <li class="list-group-item "><a href="#tab4" data-toggle="tab" aria-expanded="true">Officers and Staffs</a></li>
                         <li class="list-group-item "><a href="#tab5" data-toggle="tab" aria-expanded="true">Contact</a></li>
                      </ul>
                   </div>
                </div>
                <div class="col-md-9">
                   <div class="tab-content-bg tab-content">
                      <div class="tab-pane fade active in" id="tab1">
                         <div class="row">
                         
                           <div class="col-md-12 text-center">
                               <h4 class="mt-0 text-primary">Overview of the Central Library,NSTU</h4>
                               <hr class="hr">
                            </div>
                            
                            
                            
                            <div class="text-justify" style="font-family: Times New Roman; font-size: 15px; padding: 1rem;">
                                <p>
                                   NSTU Central Library is one of the leading Public University Library of Bangladesh established in 2006 for providing excellent library and information services to the University community. It is an integral part of the University which is designed to fulfill the various approaches of the library users.
                                   From the beginning, library is improving day by day of its infrastructural facilities, systems and services. The Library is committed to provide the best library services to the students, faculty members and researchers.
                                </p>
                                
                                <br/>
                                  <img src="https://nstu.edu.bd/assets/images/central_library/Central_Libray_Building.jpg" width="654" height="336" alt="Central Library,NSTU">
                            </div> 
                            <br/>
                            
                            <div class="col-md-12">
                               <h4 class="mt-0 text-primary">Central Library,NSTU at a glance</h4>
                               <hr class="hr">
                            </div>
                            
                            <div class="col-md-12">
                               <h4 class="mt-0">Total Book text-primarys:22550</h4>
                               <h4 class="mt-0">Journal (Hard Copy text-primary):627</h4>
                               <h4 class="mt-0">Total e-Book text-primarys:13293</h4>
                               <h4 class="mt-0">Total e-Books Service Provide text-primaryr: 4 (Sage Publications indian Pvt. Ltd; Cambridge University Press;Taylor and Francis Group; World Scientific)</h4>
                               <h4 class="mt-0">Total e-Journal Service Provide text-primaryr: 3 (JSTOR,Emerald,IEEE)</h4>
                               
                            </div>
                            
                            
                            
                         </div>
                         </div>
                         <div class="tab-pane fade" id="tab2">
                            <div class="row">
                               <div class="col-md-12" style="font-size: 13px">
                                  
                                  <h4 class="mt-0 text-primary">Mission</h4>
                                  
                                  <p class="text-justify">
                                     To organize and offer effective and efficient library and information services in quality education and research for building a knowledge-based society to meet new challenges.
                                  </p>
                                  
                                  <h4 class="mt-0 text-primary">Vision</h4>
                                  
                                  <p class="text-justify">
                                     To develop a world-class knowledge center and to explore & implement innovative technologies and services to deliver information and scholarly resources conveniently to users anytime anyplace.
                                  </p>
                                  
                               </div>
                            </div>
                         </div>
                         <div class="tab-pane fade" id="tab3">
                            <div class="row">
                               <div class="col-sm-12 text-center">
                                  <h4 class="mt-0 text-primary">Message from the Librarian</h4>
                               </div>
                               
                               <div class="text-justify" style="font-family: Times New Roman; font-size: 15px; padding: 1rem;">
                                  <p>
                                     It’s my pleasure to welcome you to the NSTU Central Library. We are committed to providing quality information resources and services that support the vision and mission of the Noakhali Science and Technology University. The Library endeavors to provide information services that will support learning, teaching, research and relevant programs of the University. We are providing access to a wide range of information resources both in print and electronic format.
                                     We are here to support your queries/ search for knowledge when and where you need it.
                                  </p>
                                  
                                  <br/>
                                  <br/>
                                  
                                  <h4 class="mt-0 text-primary"></h4>
                                  <h4 class="mt-0 text-primary">Librarian</h4>
                                  <h4 class="mt-0 text-primary">Noakhali Science and Technology University</h4>
                                  <h4 class="mt-0 text-primary">Noakhali-3814, Bangladesh.</h4>
                                  
                               </div>
                            </div>
                         </div>
                         <div class="tab-pane fade" id="tab4">
                            <div class="row">
                               <div class="col-md-12">
                                  <table class="table table-bordered">
                                     <thead>
                                        <tr>
                                           <th style="width: 2%" scope="col">#</th>
                                           <th style="width: 12%" scope="col">Name</th>
                                           <th style="width: 10%" scope="col">Designation</th>
                                           <th style="width: 19%" scope="col">Academic Qualifications</th>
                                           <th style="width: 10%" scope="col">Contact Address</th>
                                           <th style="width: 1%" scope="col">Photograph</th>
                                        </tr>
                                     </thead>
                                     <tbody>
                                        <tr>
                                           <th scope="row">1</th>
                                           <td>Shakhawat Hossain</td>
                                           <td>Deputy Director (Accounts) & Librarian (Additional Responsibility)</td>
                                           <td></td>
                                           <td>
                                               Central Library, NSTU
                                           </td>
                                           <td class="text-center">
                                               <img src="https://nstu.edu.bd/assets/images/administration/Registrar/P.jpg" alt="No image" width="80">
                                           </td>
                                           </tr>
                                        <tr>
                                           <th scope="row">2</th>
                                           <td>Md. Salim Mia</td>
                                           <td>Deputy Librarian </td>
                                           <td>BSS (Hons.), MSS in Library & Information Science (RU)</td>
                                           <td>
                                              Central Library, NSTU
                                           </td>
                                           <td class="text-center">
                                              <img src="https://nstu.edu.bd/assets/images/central_library/Md.-Salim-Mia.jpg" alt="No image" width="80">
                                           </td>
                                        </tr>
                                        <tr>
                                           <th scope="row">3</th>
                                           <td>Md. Babor Ali</td>
                                           <td>Assistant Librarian</td>
                                           <td>
                                              BSS (Hons), MSS in Information Science and Library Management (RU)
                                           </td>
                                           <td>
                                              Central Library, NSTU
                                           </td>
                                           <td class="text-center">
                                              <img src="https://nstu.edu.bd/assets/images/central_library/Md.-Babor-Ali.jpg" alt="No image" width="80">
                                           </td>
                                        </tr>
                                        <tr>
                                           <th scope="row">4</th>
                                           <td>Sayed Hossain</td>
                                           <td>Assistant Registrar</td>
                                           <td>
                                              BA
                                           </td>
                                           <td>
                                              Central Library, NSTU
                                           </td>
                                           <td class="text-center">
                                              <img src="https://nstu.edu.bd/assets/images/central_library/Sayed-Hossain.jpg" alt="No image" width="80">
                                           </td>
                                        </tr>
                                        <tr>
                                           <th scope="row">5</th>
                                           <td>Helal Uddin</td>
                                           <td>Assistant Librarian</td>
                                           <td>
                                              BSS(Hons.),MSS in Information Science and Library Management (RU)
                                           </td>
                                           <td>
                                              Central Library,NSTU
                                           </td>
                                           <td class="text-center">
                                              <img src="https://nstu.edu.bd/assets/images/central_library/Helal-Uddin.jpg" alt="No image" width="80">
                                           </td>
                                        </tr>
                                        <tr>
                                           <th scope="row">6</th>
                                           <td>Md. Mohiuddin</td>
                                           <td>Section Officer</td>
                                           <td>
                                              MBS in Accounting and PGD in LIS
                                           </td>
                                           <td>
                                              Central Library, NSTU
                                           </td>
                                           <td class="text-center">
                                              <img src="https://nstu.edu.bd/assets/images/central_library/Md.-Mohiuddin.jpg" alt="No image" width="80">
                                           </td>
                                        </tr>
                                        
                                        <tr>
                                           <th scope="row">7</th>
                                           <td>Md. Redwoan</td>
                                           <td>Documentation Officer</td>
                                           <td>
                                             BA (Hons.), MA in ISLM,University of Dhaka
                                           </td>
                                           <td>
                                              Central Library, NSTU
                                           </td>
                                           <td class="text-center">
                                              <img src="https://nstu.edu.bd/assets/images/central_library/.jpg" alt="No image" width="80">
                                           </td>
                                        </tr>
                                        
                                        
                                        
                                     </tbody>
                                  </table>
                               </div>
                            </div>
                         </div>
                         
                             <div class="tab-pane fade" id="tab5">
                                 <div class="row">
                                    <div class="col-md-12" style="font-size: 13px">
                                       <p class="text-primary"><b>Contact Address</b></p>
                                       <img class="pull-left flip pr-20" width="262px" height="260px" src="https://nstu.edu.bd/assets/images/common/NSTU_Logo.jpg" alt="">
                                       <p><b>Mailing Address </b></p>
                                       <p>Central Library Building</p>
                                       <p>Noakhali Science and Technology University</p>
                                       <p>Noakhali-3814, Noakhali.</p>
                                       <p style="font-size: 11px">(<b>Office Hour:</b> 9:00 AM to 5:00 PM, <b>Days:</b> Sunday to Thursday, <b>Closed weekend day:</b> Friday and Saturday)</p>
                                       <p style="color: blue; font-size:120%;"><b>e-mail:library@office.nstu.edu.bd</b></p>
                                       <p>Website: www.nstu.edu.bd</p>
                                  </div>
                                 </div>
                             </div>
                         
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 
</section>
    
    </main>

    {% include '/includes/footer.html' %}