{% include '/includes/header.html' %}
<main>
    <section id="chancellor" class="bg-light-gray-2 my-5">
       <div class="container">
          <div class="container text-center">
       <hr class="hr">
       <h3 class="home-header faculty-dept" style="color:#A020F0;"><b>বার্ষিক কর্মসম্পাদন চুক্তি (APA)</b></h3>
       <hr class="hr">
       <div class="row" id="institutes">
          <div class="col-lg-6">
             <div class="card border-primary mb-3" >
                <div class="card-body">
                   <h4 class="mt-0">
                      <a href="#" title="Annual Performance Agreement" class="text-primary"><b>Annual Performance Agreement (APA) (বার্ষিক কর্মসম্পাদন চুক্তি)  </b> </a>
                   </h4>
                   <img style="text-align: left;" src="https://nstu.edu.bd/assets/images/info_window/APA.png" alt="বার্ষিক কর্মসম্পাদন " width="100" height="80">	
                   <a href="annual_performance_agreement_page1.html">এ.পি.এ নির্দেশিকা/এ.পি.এ টিম </a>
                   <br/>
                   <a href="annual_performance_agreement_page2.html">পরিবীক্ষণ ও মূল্যায়ণ প্রতিবেদন</a>
                   <br/>
                   <a href="annual_performance_agreement_page3.html">বার্ষিক কর্ম-সম্পাদন চুক্তিসমূহ</a>
                   <br/>
                   <a href="https://apams.cabinet.gov.bd/" >এপিএএমএস সফট্ওয়্যার লিংক</a>
                </div>
             </div>
          </div>
          <div class="col-lg-6">
             <div class="card border-secondary mb-3">
                <div class="card-body">
                   <h4 class="mt-0"> 
                      <a href="#" title="National Integrity Strategy" class="text-primary"><b>National Integrity Strategy (NIS) (জাতীয় শুদ্ধাচার কৌশল) </b></a>
                   </h4>
                   <img style="text-align: left;" src="https://nstu.edu.bd/assets/images/info_window/national_integrety.png"  alt="জাতীয় শুদ্ধাচার কৌশল " width="100" height="80">
                   <a href="national_integrity_strategy_page1.html">জাতীয় শুদ্ধাচার কৌশল </a>
                   <br/>
                   <a href="national_integrity_strategy_page2.html">কমিটিসমূহ</a>
                   <br/>
                   <a href="national_integrity_strategy_page3.html">ফোকাল পয়েন্ট কর্মকর্তাগণ</a>
                   <br/>
                   <a href="national_integrity_strategy_page4.html">প্রতিবেদনসমূহ ও শুদ্ধাচার পুরষ্কার</a>
                </div>
             </div>
          </div>
          <div class="col-lg-6">
             <div class="card border-success mb-3" >
                <div class="card-body">
                   <h4 class="mt-0">
                      <a href="#" title="Grievance Redressal System" class="text-primary"><b>Grievance Redress System (অভিযোগ প্রতিকার ব্যবস্থাপনা) </b></a>
                   </h4>
                   <img style="text-align: left;" src="https://nstu.edu.bd/assets/images/info_window/allegation_recovery.png" alt="অভিযোগ প্রতিকার ব্যবস্থাপনা " width="110" height="80">	
                   <a href="https://nstu.edu.bd/grievance_redress_system_page1.html">অনিক ও আপিল কর্মকর্তা </a>
                   <br/>
                   <a href="https://nstu.edu.bd/grievance_redress_system_page2.html">মূল্যায়ন প্রতিবেদন   </a>
                   <br/>
                   <a href="https://nstu.edu.bd/grievance_redress_system_page3.html">অভিযোগ দাখিল</a>
                   <br/>
                   <a href="https://nstu.edu.bd/grievance_redress_system_page4.html"> নীতিমালা ও নির্দেশিকা</a>
                </div>
             </div>
          </div>
          <div class="col-lg-6">
             <div class="card border-danger mb-3" >
                <div class="card-body">
                   <h4 class="mt-0">
                      <a href="#" title="Innovative Activities" class="text-primary"><b>E-governance and Innovation (ই-গভর্নেন্স  এবং ইনোভেশন) </b> </a>
                   </h4>
                   <img style="text-align: left;" src="https://nstu.edu.bd/assets/images/info_window/Innovation_work.png" alt="উদ্ভাবনী কার্যক্রম" width="100" height="80">	
                   <a href="https://nstu.edu.bd/innovation_page1.html">প্রজ্ঞাপন/নীতিমালা/নির্দেশিকা</a>
                   <br/>
                   <a href="https://nstu.edu.bd/innovation_page2.html">ইনোভেশন টিম</a>
                   <br/>
                   <a href="https://nstu.edu.bd/innovation_page3.html">বার্ষিক কর্মপরিকল্পনা/কার্যবিবরনী/প্রতিবেদন/অফিস আদেশ/প্রজ্ঞাপন</a>
                   <br/>
                   <a href="https://nstu.edu.bd/innovation_page4.html">ইনোভেশন/সেবা সহজিকরণ/ডিজিটাইজেশন</a>  
                </div>
             </div>
          </div>
          <div class="col-lg-6">
             <div class="card border-warning mb-3" >
                <div class="card-body">
                   <h4 class="mt-0"> 
                      <a href="#" title="Citizen Charter" class="text-primary"><b>Citizen Charter (সেবা প্রদান প্রতিশ্রুতি) </b></a>
                   </h4>
                   <img style="text-align: left;" src="https://nstu.edu.bd/assets/images/info_window/support.png" alt="সেবা প্রদান প্রতিশ্রুতি" width="100" height="80">	
                   <a href="https://nstu.edu.bd/citizen_charter_page1.html">সাংগঠনিক কাঠামো </a> <br/>
                   <a href="https://nstu.edu.bd/citizen_charter_page2.html">সিটিজেন চার্টার </a> <br/>
                   <a href="https://nstu.edu.bd/citizen_charter_page3.html">কর্মকান্ড/বার্ষিক মূল্যায়ণ প্রতিবেদন</a> <br/>
                   <a href="https://nstu.edu.bd/citizen_charter_page4.html">ফোকাল পয়েন্ট</a>
                </div>
             </div>
          </div>
          <div class="col-lg-6">
             <div class="card border-info mb-3" >
                <div class="card-body">
                   <h4 class="mt-0"> 
                      <a href="#" title="Information Rights" class="text-primary"><b>Right to Information (তথ্য অধিকার) </b></a>
                   </h4>
                   <img style="text-align: left;" src="https://nstu.edu.bd/assets/images/info_window/Information _rights.png" alt="তথ্য অধিকার " width="100" height="80">	
                   <a href="https://nstu.edu.bd/info_rights_page1.html">দ্বায়িত্বপ্রাপ্ত কর্মকর্তা ও আপীল কর্তৃপক্ষ</a><br/>
                   <a href="https://nstu.edu.bd/info_rights_page2.html">আবেদন ও আপীল ফরম</a><br/>
                   <a href="https://nstu.edu.bd/info_rights_page3.html">স্বপ্রণোদিতভাবে প্রকাশযোগ্য তথ্যসমূহ</a> <br/>
                   <a href="https://nstu.edu.bd/info_rights_page4.html">তথ্য অধিকার আইন/নির্দেশিকা</a><br/>
                   <a href="https://nstu.edu.bd/info_rights_page5.html">মাসিক/ত্রৈমাসিক/বার্ষিক পরিবীক্ষণ/মূল্যায়ন প্রতিবেদন</a> 
                </div>
             </div>
          </div>
       </div>
    </div>
         
         
       </div>
       <br/>
    </section>
 </main>
 {% include '/includes/footer.html' %}