{% include '/includes/header.html' %}
<main>
    <section id="chancellor" class="bg-light-gray-2 my-5">
       <div class="container">
          <div class="section-title mb-10">
             <div class="row">
                <div class="col-md-12 text-left">
                   <h2 class="mt-0">Location, Maps and Direction</h2>
                   <hr class="hr">
                </div>
             </div>
          </div>
          <div id="overlay" class="map">
             <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3678.2927267229375!2d91.10058211539103!3d22.791614730638653!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3754af712aaac0b7%3A0x4bab3d112f6b6f3f!2sNoakhali%20Science%20and%20Technology%20University!5e0!3m2!1sen!2sbd!4v1661399913960!5m2!1sen!2sbd" id="map" style="border:0" allowfullscreen="" class="scrolloff" width="100%" height="450" frameborder="0"></iframe> 
          </div>
       </div>
    </section>
 </main>
  {% include 'chatbot.html' %}
 {% include '/includes/footer.html' %}