{% include 'student_profile/includes/header.html' %}

<div class="content-wrapper">
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Dashboard</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Change About</li>
          </ol>
        </div>
      </div>
    </div>
  </div>

  <section class="content">
    <div class="container my-5">
      <form action="/student_profile/change_about" method="post" enctype="multipart/form-data">
        <h1>About Information</h1>
        <div class="mt-4">
          <label for="name" class="form-label">Student Name</label>
          <input type="text" name="name" id="name" class="form-control" value="{{ info[0] }}" required >
        </div>
        <div class="mt-4">
          <label for="studentid" class="form-label">Student ID</label>
          <input type="text" name="studentid" id="studentid" class="form-control" value="{{ info[5] }}" required >
        </div>
        <div class="mt-4">
          <label for="designation" class="form-label">Designation</label>
          <select class="form-select" name="designation" id="designation" aria-label="Default select example" value="{{ info[1] }}" required >
            <option selected>Select Designation</option>
            <option value="graduate">Graduate</option>
            <option value="undergraduate">Undergraduate</option>
            <option value="postgraduate">Postgraduate</option>
          </select>
        </div>
        <div class="mt-4">
          <label for="department" class="form-label">Department</label>
          <select class="form-select" name="department" aria-label="Select Department" value="{{ info[2] }}" required >
            <option selected>Select Department</option>
            <option value="iit">IIT</option>
            <option value="iis">IIS</option>
            <option value="ice">ICE</option>
            <option value="cste">CSTE</option>
            <option value="acce">ACCE</option>
            <option value="eee">EEE</option>
            <option value="fims">FIMS</option>
            <option value="pharmacy">Pharmacy</option>
            <option value="mbg">Microbiology</option>
            <option value="applied_math">Applied Math</option>
            <option value="ftns">FTNS</option>
            <option value="esdm">ESDM</option>
            <option value="bge">BGE</option>
            <option value="agriculture">Agriculture</option>
            <option value="stat">STAT</option>
            <option value="oceanography">Oceanography</option>
            <option value="bmb">BMB</option>
            <option value="zoology">Zoology</option>
            <option value="soil_water_environment">Soil Water Environment</option>
            <option value="chemistry">chemistry</option>
            <option value="physics">Physics</option>
            <option value="english">English</option>
            <option value="economics">Economics</option>
            <option value="bms">BMS</option>
            <option value="sociology">Sociology</option>
            <option value="bangla">Bangla</option>
            <option value="social_work">Social Work</option>
            <option value="dba">DBA</option>
            <option value="mis">MIS</option>
            <option value="thm">THM</option>
             <option value="education">Education</option>
            <option value="education_administration">Education Administration</option>
            <option value="law">LAW</option>
          </select>
        </div>
        <div class="mt-4">
          <label for="session" class="form-label">Session</label>
          <select class="form-select" name="session" aria-label="Select Session" value="{{ info[6] }}" required>
            <option selected>Select Session</option>
            <option value="2023-2022">2023-2022</option>
            <option value="2022-2021">2022-2021</option>
            <option value="2021-2020">2021-2020</option>
            <option value="2020-2019">2020-209</option>
            <option value="2019-2018">2019-2018</option>
            <option value="2018-2017">2018-2017</option>
            <option value="2017-2016">2017-2016</option>
            <option value="2016-2015">2016-2015</option>
            <option value="2015-2014">2015-2014</option>
            <option value="2014-2013">2014-2013</option>
            <option value="2013-2012">2013-2012</option>
            <option value="2012-2011">2012-2011</option>
            <option value="2011-2010">2011-2010</option>
            <option value="2010-2009">2010-2009</option>
            <option value="2009-2008">2009-2008</option>
            <option value="2008-2007">2008-2007</option>
            <option value="2007-2006">2007-2006</option>
            <option value="2006-2005">2006-2005</option>
            <option value="2005-2004">2005-2004</option>
            <option value="2004-2003">2004-2003</option>
            <option value="2003-2002">2003-2002</option>
            <option value="2002-2001">2002-2001</option>
            <option value="2001-2000">2001-2000</option>
            <option value="2000-1999">2000-1999</option>
          </select>
        </div>
        <div class="mt-4">
          <input type="button" value="Select Image" class="btn btn-outline-secondary" id="uploadImage" onclick="document.getElementById('fileInput').click()" />
          <input type="file" class="form-control d-none" id="fileInput" name="file" value="{{ info[3] }}" required>
        </div>
        <div class="mt-4">
          <label for="" class="form-label">About</label>
          <textarea name="about" id="" style="display: block;resize: vertical;width: 100%;outline: none;border: 1px solid #ced4da;height: 100px;" required >{{ info[4] }}</textarea>
        </div>
        <button type="submit" class="btn btn-primary my-4" >Change</button>
      </form>
    </div>
  </section>


{% include 'student_profile/includes/footer.html' %}
