{% include 'student_profile/includes/header.html' %}

<div class="content-wrapper">
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Dashboard</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Change Password</li>
          </ol>
        </div>
      </div>
    </div>
  </div>

  <section class="content">
    <div class="container my-5">
      <form action="/student_profile/change_password" method="post">
        <h1>Change Password</h1>
        <div class="mt-4">
          <label for="prevPassword" class="form-label">Prev Password</label>
          <input type="password" name="prevPassword" id="prevPassword" class="form-control" required>
        </div>
        <div class="mt-4">
          <label for="assword" class="form-label">New Password</label>
          <input type="password" name="password" id="password" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary my-4" >Change</button>
      </form>
    </div>
  </section>


{% include 'student_profile/includes/footer.html' %}
