{% include '/includes/header.html' %}
<main>
    <div class="container-fluid">
      <h1 class="text-center my-5">Department of Environmental Science and Disaster Management (ESDM)</h1>
      <div class="container my-5">
        <h2>Mission</h2>
        <p>The saying that “information is the currency of democracy” has never been truer than in today’s information-rich society. With an ever increasing volume of electronic data, there is a growing need for employees who can store, manage and extract data effectively. With an ever increasing volume of electronic data at everyone’s fingertips, more and more businesses are seeking employees who are proficient in managing and extracting data efficiently and effectively.
From day one students will be hands-on in our foundations courses, learning the skills needed to work with information at the scale and speed of today’s technology and data. As a graduate of IIS students will hold leadership positions in: libraries and information centers, hi-tech companies, information industry, national, public and inter-national organizations. By the time students graduate, they’ll get the opportunities of internships and exchange programs in prominent national and international organizations. Our world-class and leading edge curriculum, highly qualified faculty members, latest teaching pedagogy, hands-on training in best-designed lab and research facilities make our programs one of choice for students from varied background.</p> br
         <ul>
            <li> To develop and come up with skilled human resources capable of contributing to the discipline of Information Studies in terms of research and teaching.</li>
            <li> To provide students with skill and creative mind for improved understanding and effective management of Information Studies issues.</li>

         </ul>
      </div>
      <div class="container my-5">
        <h2>Vission</h2>
        <p>To produce skilled library professionals and support the declaration of the Prime Minster comes from an honest intention to ensure the quality of education in Bangladesh to meet the target of Digital Bangladesh within 2021. </p>
      </div>

      <div class="container my-5">
        <h2>Director's/ Chairman Speech</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, ratione eligendi? Reprehenderit cupiditate rerum tenetur quo inventore porro alias, est culpa saepe, maxime adipisci dolores numquam quod commodi, assumenda possimus?</p>
     <br>
         NAME <br>
         Chairman & Professor <br>
         Department Name <br>
         Noakhali Science and Technology University (NSTU), Bangladesh.
      </div>
      <div class="container mb-5">
        <div class="row">
          <div class="col-md-5 card  bg-light">
            <div class="card-body">
              <h2>Contact Information</h2>
              <p class="m-0">2nd floor, Library Building</p>
              <p class="m-0 mb-3">Noakhali Science and Technology University</p>
              <p><strong>Email:</strong> johndoe@example.com</p>
              <p><strong>Phone:</strong> +1 123-456-7890</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  {% include '/includes/footer.html' %}