{% include '/includes/header.html' %}
<main>
         <section id="chancellor" class="bg-light-gray-2">
            <div class="container" style="padding-top: 50px">
               <div class="section-title mb-10">
                  <div class="row">
                     <div class="col-md-12 text-left">
                        <h2 class="mt-0"><font size="5" color="blue"><b>Faculties</b></font></h2>
                        <p>
                           There are Six faculties in Noakhali Science and Technology University (NSTU). Departments offer undergraduate and graduate degree programs. There are the following twenty eight departments.
                        </p>
                        <hr class="hr">
                     </div>
                  </div>
               </div>
               <div class="section-content">
                  <div class="row">
                     <div class="col-sm-12">
                        <div class="row">
                           <div class="col-sm-12">
                              <!-- Faculty: Faculty of Engineering -->
                              <div class="col-md-12 text-center">
                                 <h5 class="mt-0"><font size="3" color="blue"><b>Faculty of Engineering</b></font></h5>
                              </div>
                              <table class="table table-bordered">
                                 <thead>
                                    <tr>
                                       <th scope="col">Sl. No</th>
                                       <th scope="col">Department</th>
                                       <th scope="col">Overview</th>
                                       <th scope="col">Faculty Members</th>
                                       <th scope="col">Students Profile</th>

                                    </tr>
                                 </thead>
                                 <tbody>
                                    <tr>
                                       <th scope="row">1</th>
                                       <td>Department of Computer Science and Telecommunication Engineering (CSTE)</td>
                                       <td> <a href="cste" target="_blank">
                                          <font size="2" color="blue"><b>CSTE</b></font></a></td>

                                       <td>
                                          <!-- <a class="" href="cste.html">-->
                                          <!-- <a href="https://nstu.edu.bd/cste.html" target="_blank">-->
                                          <a href="cste/faculties" target="_blank">
                                          <font size="2" color="blue"><b>CSTE</b></font></a>
                                       </td>
                                       <td>
                                          <a class="" href="cste/students"> <font size="2" color="blue">CSTE</font></a>
                                       </td>

                                    </tr>
                                    <tr>
                                       <th scope="row">2</th>
                                       <td>Department of Applied Chemistry and Chemical Engineering (ACCE)</td>
                                        <td> <a href="acce" target="_blank">
                                          <font size="2" color="blue"><b>ACCE</b></font></a></td>

                                       <td>
                                          <!-- <a class="" href="acce.html"> -->
                                          <a href="acce/faculties" target="_blank">
                                          <font size="2" color="blue"><b>ACCE</b></font></a>
                                       </td>
                                       <td><a class="" href="acce/students"><font size="2" color="blue">ACCE</font></a></td>

                                    </tr>
                                    <tr>
                                       <th scope="row">3</th>
                                       <td>Department of Information and Communication Engineering (ICE)</td>
                                       <td>
                                          <!--<a class="" href="ice.html">-->
                                          <a href="ice" target="_blank">
                                          <font size="2" color="blue"><b>ICE</b></font></a>
                                       </td>
                                       <td>
                                          <!--<a class="" href="ice.html">-->
                                          <a href="ice/faculties" target="_blank">
                                          <font size="2" color="blue"><b>ICE</b></font></a>
                                       </td>
                                       <td><a class="" href="ice/students"><font size="2" color="blue">ICE</font></a></td>

                                    </tr>
                                    <tr>
                                       <th scope="row">4</th>
                                       <td>Department of Electrical and Electronic Engineering (EEE)</td>
                                       <td>
                                          <!--<a class="" href="eee.html">-->
                                          <a href="eee" target="_blank">
                                          <font size="2" color="blue"><b>EEE</b></font></a>
                                       </td>
                                       <td>
                                          <!--<a class="" href="eee.html">-->
                                          <a href="eee/faculties" target="_blank">
                                          <font size="2" color="blue"><b>EEE</b></font></a>
                                       </td>
                                       <td><a class="" href="eee/students"><font size="2" color="blue">EEE</font></a></td>
                                    </tr>
                                 </tbody>
                              </table>
                              <!-- Faculty: Faculty of Science -->
                              <div class="col-md-12 text-center">
                                 <h5 class="mt-0"><font size="3" color="blue"><b>Faculty of Science</b></font></h5>
                              </div>
                              <table class="table table-bordered">
                                 <thead>
                                    <tr>
                                       <th scope="col">Sl. No</th>
                                       <th scope="col">Department</th>
                                       <th scope="col">Overview</th>
                                       <th scope="col">Faculty Members</th>
                                       <th scope="col">Students Profile</th>
                                    </tr>
                                 </thead>
                                 <tbody>
                                    <tr>
                                       <th scope="row">1</th>
                                       <td>Department of Fisheries and Marine Science (FIMS)</td>
                                       <td><a class="" href="fims"><font size="2" color="blue"><b>FIMS</b></font></a></td>
                                       <td><a class="" href="fims/faculties"><font size="2" color="blue"><b>FIMS</b></font></a></td>
                                       <td><a class="" href="fims/students"><font size="2" color="blue">FIMS</font></a></td>

                                    </tr>
                                    <tr>
                                       <th scope="row">2</th>
                                       <td>Department of Pharmacy</td>
                                       <td><a class="" href="pharmacy"> <font size="2" color="blue"><b>Pharmacy</b></font></a></td>
                                       <td><a class="" href="pharmacy/faculties"> <font size="2" color="blue"><b>Pharmacy</b></font></a></td>
                                       <td><a class="" href="pharmacy/students"><font size="2" color="blue">Pharmacy]</font></a></td>

                                    </tr>
                                    <tr>
                                       <th scope="row">3</th>
                                       <td>Department of Microbiology</td>
                                       <td><a class="" href="bge"><font size="2" color="blue"><b>Microbiology</b></font></a></td>
                                       <td><a class="" href="bge/faculties"><font size="2" color="blue"><b>Microbiology</b></font></a></td>
                                       <td><a class="" href="bge/students"><font size="2" color="blue">Microbiology</font></a></td>

                                    </tr>
                                    <tr>
                                       <th scope="row">4</th>
                                       <td>Department of Applied Mathematics</td>
                                       <td><a class="" href="aplied_math"><font size="2" color="blue"><b>Microbiology</b></font></a></td>
                                       <td><a class="" href="aplied_math/faculties"><font size="2" color="blue"><b>Applied Mathematics</b></font></a></td>
                                       <td><a class="" href="aplied_math/students"><font size="2" color="blue">Applied Mathematics</font></a></td>

                                    </tr>
                                    <tr>
                                       <th scope="row">5</th>
                                       <td>Department of Food Technology and Nutrition Science (FTNS)</td>
                                       <td><a class="" href="ftns"><font size="2" color="blue"><b>FTNS</b></font></a></td>
                                       <td><a class="" href="ftns/faculties"><font size="2" color="blue"><b>FTNS</b></font></a></td>
                                       <td><a class="" href="ftns/students"><font size="2" color="blue">FTNS</font></a></td>

                                    </tr>
                                    <tr>
                                       <th scope="row">6</th>
                                       <td>Department of Environmental Science and Disaster Management (ESDM)</td>
                                       <td><a class="" href="esdm"><font size="2" color="blue"><b>ESDM</b></font></a></td>
                                       <td><a class="" href="esdm/faculties"><font size="2" color="blue"><b>ESDM</b></font></a></td>
                                       <td><a class="" href="esdm/students"><font size="2" color="blue">ESDM</font></a></td>

                                    </tr>
                                    <tr>
                                       <th scope="row">7</th>
                                       <td>Department of Biotechnology and Genetic Engineering (BGE)</td>
                                       <td><a class="" href="bge"><font size="2" color="blue"><b>BGE</b></font></a></td>
                                       <td><a class="" href="bge/faculties"><font size="2" color="blue"><b>BGE</b></font></a></td>
                                       <td><a class="" href="bge/students"><font size="2" color="blue">BGE</font></a></td>

                                    </tr>
                                    <tr>
                                       <th scope="row">8</th>
                                       <td>Department of Agriculture</td>
                                       <td><a class="" href="agriculture"><font size="2" color="blue"><b>Agriculture</b></font></a></td>
                                       <td><a class="" href="agriculture/faculties"><font size="2" color="blue"><b>Agriculture</b></font></a></td>
                                       <td><a class="" href="agriculture/students"><font size="2" color="blue">Agriculture</font></a></td>

                                    </tr>
                                    <tr>
                                       <th scope="row">9</th>
                                       <td>Department of Statistics</td>
                                       <td><a class="" href="stat"><font size="2" color="blue"><b>Statistics</b></font></a></td>
                                       <td><a class="" href="stat/faculties"><font size="2" color="blue"><b>Statistics</b></font></a></td>
                                       <td><a class="" href="stat/students"><font size="2" color="blue">Statistics</font></a></td>

                                    </tr>
                                    <tr>
                                       <th scope="row">10</th>
                                       <td>Department of Oceanography</td>
                                       <td><a class="" href="oceanography"><font size="2" color="blue"><b>Oceanography</b></font></a></td>
                                       <td><a class="" href="oceanography/faculties"><font size="2" color="blue"><b>Oceanography</b></font></a></td>
                                       <td><a class="" href="oceanography/students"><font size="2" color="blue">Oceanography</font></a></td>

                                    </tr>
                                    <tr>
                                       <th scope="row">11</th>
                                       <td>Department of Biochemistry and Molecular Biology (BMB)</td>
                                       <td><a class="" href="bmb"><font size="2" color="blue"><b>BMB</b></font></a></td>
                                       <td><a class="" href="bmb/faculties"><font size="2" color="blue"><b>BMB</b></font></a></td>
                                       <td><a class="" href="bmb/students"><font size="2" color="blue">BMB</font></a></td>

                                    </tr>
                                    <tr>
                                       <th scope="row">12</th>
                                       <td>Department of Zoology</td>
                                       <td><a class="" href="zoology"><font size="2" color="blue"><b>Zoology</b></font></a></td>
                                       <td><a class="" href="zoology/faculties"><font size="2" color="blue"><b>Zoology</b></font></a></td>
                                       <td><a class="" href="zoology/students"><font size="2" color="blue">Zoology</font></a></td>

                                    </tr>
                                    <tr>
                                       <th scope="row">13</th>
                                       <td>Department of Soil,Water and Environment</td>
                                       <td><a class="" href="soil_water_environment"><font size="2" color="blue"><b>Soil,Water and Environment</b></font></a></td>
                                       <td><a class="" href="soil_water_environment/faculties"><font size="2" color="blue"><b>Soil,Water and Environment</b></font></a></td>
                                       <td><a class="" href="soil_water_environment/students"><font size="2" color="blue">Soil,Water and Environment</font></a></td>

                                    </tr>
                                    <tr>
                                       <th scope="row">14</th>
                                       <td>Department of Chemisrty</td>
                                       <td><a class="" href="chemistry"><font size="2" color="blue"><b>chemistry</b></font></a></td>
                                       <td><a class="" href="chemistry/faculties"><font size="2" color="blue"><b>chemistry</b></font></a></td>
                                       <td><a class="" href="chemistry/students"><font size="2" color="blue">chemistry</font></a></td>

                                    </tr>
                                    <tr>
                                       <th scope="row">15</th>
                                       <td>Department of Physics</td>
                                       <td><a class="" href="physics"><font size="2" color="blue"><b>Physics</b></font></a></td>
                                       <td><a class="" href="physics/faculties"><font size="2" color="blue"><b>Physics</b></font></a></td>
                                         <td><a class="" href="physics/students"><font size="2" color="blue">Physics</font></a></td>

                                    </tr>
                                 </tbody>
                              </table>
                              <!-- Faculty: Faculty of Social Science and Humanities -->
                              <div class="col-md-12 text-center">
                                 <h5 class="mt-0"><font size="3" color="blue"><b>Faculty of Social Science and Humanities</b></font></h5>
                              </div>
                              <table class="table table-bordered">
                                 <thead>
                                    <tr>
                                       <th scope="col">Sl. No</th>
                                       <th scope="col">Department</th>
                                       <th scope="col">Overview</th>
                                       <th scope="col">Faculty Members</th>
                                      <th scope="col">Students Profile</th>
                                    </tr>
                                 </thead>
                                 <tbody>
                                    <tr>
                                       <th scope="row">1</th>
                                       <td>Department of English</td>
                                       <td><a class="" href="english"><font size="2" color="blue"><b>English</b></font></a></td>
                                       <td><a class="" href="english/faculties"><font size="2" color="blue"><b>English</b></font></a></td>
                                       <td><a class="" href="english/students"><font size="2" color="blue">English</font></a></td>

                                    </tr>
                                    <tr>
                                       <th scope="row">2</th>
                                       <td>Department of Economics</td>
                                       <td><a class="" href="economics"> <font size="2" color="blue"><b>Economics</b></font></a></td>
                                       <td><a class="" href="economics/faculties"> <font size="2" color="blue"><b>Economics</b></font></a></td>
                                       <td><a class="" href="economics/students"><font size="2" color="blue">Economics</font></a></td>

                                    </tr>
                                    <tr>
                                       <th scope="row">3</th>
                                       <td>Department of Bangladesh and Muktijuddho Studies (BMS)</td>
                                       <td><a class="" href="bms"><font size="2" color="blue"><b>BMS</b></font></a></td>
                                       <td><a class="" href="bms/faculties"><font size="2" color="blue"><b>BMS</b></font></a></td>
                                       <td><a class="" href="bms/students"><font size="2" color="blue"><b>BMS</b></font></a></td>
                                    </tr>
                                    <tr>
                                       <th scope="row">4</th>
                                       <td>Department of Sociology</td>
                                       <td><a class="" href="sociology"><font size="2" color="blue"><b>Sociology</b></font></a></td>
                                       <td><a class="" href="sociology/faculties"><font size="2" color="blue"><b>Sociology</b></font></a></td>
                                       <td><a class="" href="sociology/students"><font size="2" color="blue"><b>Sociology</b></font></a></td>

                                    </tr>
                                    <tr>
                                       <th scope="row">5</th>
                                       <td>Department of Bangla</td>
                                       <td><a class="" href="bangla"><font size="2" color="blue"><b>Bangla</b></font></a></td>
                                       <td><a class="" href="bangla/faculties"><font size="2" color="blue"><b>Bangla</b></font></a></td>
                                       <td><a class="" href="bangla/students"><font size="2" color="blue"><b>Bangla</b></font></a></td>

                                    </tr>
                                    <tr>
                                       <th scope="row">6</th>
                                       <td>Department of Social Work</td>
                                       <td><a class="" href="social_work"><font size="2" color="blue"><b>Social Work</b></font></a></td>
                                       <td><a class="" href="social_work/faculties"><font size="2" color="blue"><b>Social Work</b></font></a></td>
                                       <td><a class="" href="social_work/students"><font size="2" color="blue"><b>Social Work</b></font></a></td>

                                    </tr>
                                 </tbody>
                              </table>
                              <!-- Faculty: Faculty of Business Administration -->
                              <div class="col-md-12 text-center">
                                 <h5 class="mt-0"><font size="3" color="blue"><b>Faculty of Business Administration</b></font></h5>
                              </div>
                              <table class="table table-bordered">
                                 <thead>
                                    <tr>
                                       <th scope="col">Sl. No</th>
                                       <th scope="col">Department</th>
                                       <th scope="col">Overview</th>
                                       <th scope="col">Faculty Members</th>
                                       <th scope="col">Students Profile</th>
                                    </tr>
                                 </thead>
                                 <tbody>
                                    <tr>
                                       <th scope="row">1</th>
                                       <td>Department of Business Administration (DBA)</td>
                                       <td><a class="" href="dba"><font size="2" color="blue"><b>DBA</b></font></a></td>
                                       <td><a class="" href="dba/faculties"><font size="2" color="blue"><b>DBA</b></font></a></td>
                                       <td><a class="" href="dba/students"><font size="2" color="blue"><b>DBA</b></font></a></td>

                                    </tr>
                                    <tr>
                                       <th scope="row">2</th>
                                       <td>Department of Management information Systems (MIS)</td>
                                       <td><a class="" href="mis"> <font size="2" color="blue"><b>MIS</b></font></a></td>
                                       <td><a class="" href="mis/faculties"> <font size="2" color="blue"><b>MIS</b></font></a></td>
                                       <td><a class="" href="mis/students"> <font size="2" color="blue"><b>MIS</b></font></a></td>

                                    </tr>
                                    <tr>
                                       <th scope="row">3</th>
                                       <td>Department of Tourism and Hospitality Management (THM)</td>
                                       <td><a class="" href="thm"><font size="2" color="blue"><b>THM</b></font></a></td>
                                       <td><a class="" href="thm/faculties"><font size="2" color="blue"><b>THM</b></font></a></td>
                                       <td><a class="" href="thm/students"><font size="2" color="blue"><b>THM</b></font></a></td>

                                    </tr>
                                 </tbody>
                              </table>
                              <!-- Faculty: Faculty of Education Sciences -->
                              <div class="col-md-12 text-center">
                                 <h5 class="mt-0"><font size="3" color="blue"><b>Faculty of Education Sciences</b></font></h5>
                              </div>
                              <table class="table table-bordered">
                                 <thead>
                                    <tr>
                                       <th scope="col">Sl. No</th>
                                       <th scope="col">Department</th>
                                       <th scope="col">Overview</th>
                                       <th scope="col">Faculty Members</th>
                                       <th scope="col">Students Profile</th>

                                    </tr>
                                 </thead>
                                 <tbody>
                                    <tr>
                                       <th scope="row">1</th>
                                       <td>Department of Education</td>
                                        <td>
                                          <!--<a class="" href="edu.html"><font size="2" color="blue"><b>Education</b></font></a>-->
                                          <a class="" href="education"><font size="2" color="blue"><b>Education</b></font></a>
                                       </td>
                                       <td>
                                          <!--<a class="" href="edu.html"><font size="2" color="blue"><b>Education</b></font></a>-->
                                          <a class="" href="education/faculties"><font size="2" color="blue"><b>Education</b></font></a>
                                       </td>
                                       <td><a class="" href="education/students"><font size="2" color="blue"><b>Education</b></font></a></td>

                                    </tr>
                                    <tr>
                                       <th scope="row">2</th>
                                       <td>Department of Educational Administration</td>
                                        <td>
                                          <a class="" href="education_administration"><font size="2" color="blue"><b>Educational Administration</b></font></a>
                                       </td>
                                       <td>
                                          <a class="" href="education_administration/faculties"><font size="2" color="blue"><b>Educational Administration</b></font></a>
                                       </td>
                                       <td><a class="" href="education_administration/students"><font size="2" color="blue"><b>Educational Administration</b></font></a></td>

                                    </tr>
                                 </tbody>
                              </table>
                              <!-- Faculty: Faculty of Law -->
                              <div class="col-md-12 text-center">
                                 <h5 class="mt-0"><font size="3" color="blue"><b>Faculty of Law</b></font></h5>
                              </div>
                              <table class="table table-bordered">
                                 <thead>
                                    <tr>
                                       <th scope="col">Sl. No</th>
                                       <th scope="col">Department</th>
                                       <th scope="col">Overview</th>
                                       <th scope="col">Faculty Members</th>
                                       <th scope="col">Students Profile</th>

                                    </tr>
                                 </thead>
                                 <tbody>
                                    <tr>
                                       <th scope="row">1</th>
                                       <td>Department of Law</td>
                                       <td>
                                          <!--<a class="" href="law.html">-->
                                          <a href="law" target="_blank">
                                          <font size="2" color="blue"><b>LAW</b></font></a>
                                       </td>
                                       <td>
                                          <!--<a class="" href="law.html">-->
                                          <a href="law/faculties" target="_blank">
                                          <font size="2" color="blue"><b>LAW</b></font></a>
                                       </td>
                                       <td><a class="" href="law/students"><font size="2" color="blue"><b>LAW</b></font></a></td>


                                    </tr>
                                 </tbody>
                              </table>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </section>
      </main>
  {% include 'chatbot.html' %}
      {% include '/includes/footer.html' %}