{% include 'includes/header.html' %}
<main>
    <section id="chancellor" class="bg-light-gray-2 my-5">
       <div class="container my-5">
       <div class="section-title mb-10">
          <div class="row">
             <div class="col-md-12 text-left">
                <h2 class="mt-0">Academic Buildings</h2>
                <hr class="hr">
             </div>
          </div>
       </div>
       <div class="section-content" style="min-height: 500px;">
          <div class="row">
             <div class="col-sm-12">
                <div class="row">
                   <div class="col-md-3">
                      <div class="vertical-tab">
                         <ul class="list-group">
                            <li class="list-group-item active"><a href="#tab1" data-toggle="tab" aria-expanded="false">Academic Building 1</a></li>
                            <li class="list-group-item"><a href="#tab2" data-toggle="tab" aria-expanded="false">Academic Building 2</a></li>
                            <li class="list-group-item"><a href="#tab3" data-toggle="tab" aria-expanded="false">Academic Builing 3</a></li>
                         </ul>
                      </div>
                   </div>
                   <div class="col-md-9">
                      <div class="tab-content offices-cont-bg">
                         <div class="tab-pane fade active in" id="tab1">
                            <div class="row">
                               <div class="col-md-12" style="font-size: 13px">
                                  <div class="col-md-12 text-center">
                                     <h2 class="mt-0">Academic Building 1</h2>
                                     <hr class="hr">
                                     <img class="img" src="https://nstu.edu.bd/assets/images/building/building_1.jpg" alt="" width="654" height="336">
                                     <div class="text-justify">
                                        <h4><b>Establishment :</b> 2006</h4>
                                        <h4><b>Departments on this Building :</b></h4>
                                        <div style="padding-left:8%" class="">
                                           <ul class="ul">
                                              <li>FIMS- Ground Floor</li>
                                              <li>Dept. of Pharmacy-1st Floor</li>
                                              <li>Dept. of ACCE-2nd Floor</li>
                                              <li>Dept. of CSTE-3rd Floor</li>
                                              <li>Dept. of Microbiology-4th Floor</li>
                                           </ul>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                         <div class="tab-pane fade" id="tab2">
                            <div class="row">
                               <div class="col-md-12" style="font-size: 13px">
                                  <div class="col-md-12 text-center">
                                     <h2 class="mt-0">Academic Building 2</h2>
                                     <hr class="hr">
                                     <img class="img" src="https://nstu.edu.bd/assets/images/building/building_2.jpg" alt="" width="654" height="336">
                                     <div class="text-justify">
                                        <h4><b>Establishment :</b> 2011</h4>
                                        <h4><b>Departments on this Building :</b></h4>
                                        <div style="padding-left:8%" class="">
                                           <ul class="ul">
                                              <li>Dept. of BBA</li>
                                              <li>Dept. of Economics</li>
                                              <li>Dept. of Agriculture</li>
                                              <li>Dept. of ICE</li>
                                              <li>Dept. of BGE</li>
                                              <li>Dept. of ESDM</li>
                                              <li>Dept. of BMB</li>
                                              <li>Dept. of Applied Mathematics</li>
                                           </ul>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                         <div class="tab-pane fade" id="tab3">
                            <div class="row">
                               <div class="col-md-12" style="font-size: 13px">
                                  <div class="col-md-12 text-center">
                                     <h2 class="mt-0">Academic Building 3</h2>
                                     <hr class="hr">
                                     <img class="img" src="https://nstu.edu.bd/assets/images/building/building_3.jpg" alt="" width="654" height="336">
                                     <br/>
                                     <div class="text-justify">
                                        <p>
                                           Building Under Construction
                                        </p>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </section>
 </main>

 {% include 'includes/footer.html' %}