{% include 'includes/header.html' %}
<main>
    <section id="about_us" class="bg-light-gray-2 my-5">
<div class="section-content" style="min-height: 500px;">
<div class="container">
 
 <div class="tab-content">
    <div id="NOC" class="tab-pane fade in active">
       <h4 style="text-align:center;" class="text-primary">Hot Line Number</h4>
       <hr class="hr">
       <table class="table table-bordered">
          <thead>
             <th style="width:10%">Serial No</th>
             <th style="width:20%">Title</th>
             <th style="width:20%">Number</th>
          </thead>
          
          <tbody>
             <tr>
                <td>1</td>
                <td style="color:#0000ff">Emergency Services</td>
                <td><b>999</b></td>
             </tr>
             <tr>
                <td>2</td>
                <td style="color:#0000ff">Children Support </td>
                <td><b>1098</b></td>
             </tr>
             <tr>
                <td>3</td>
                <td style="color:#0000ff">Violence Against Women and Children	</td>
                <td><b>109/10921</b></td>
             </tr>
             <tr>
                <td>4</td>
                <td style="color:#0000ff">National Identity Card </td>
                <td><b>105</b></td>
             </tr>
             <tr>
                <td>5</td>
                <td style="color:#0000ff">Government Legal Services</td>
                <td><b>16430</b></td>
             </tr>
             <tr>
                <td>6</td>
                <td style="color:#0000ff">Advance Notice of Disaster </td>
                <td><b>10941</b></td>
             </tr>
             <tr>
                <td>7</td>
                <td style="color:#0000ff">Anti Corruption Commission (ACC) Hotline </td>
                <td><b>106</b></td>
             </tr>
             <tr>
                <td>8</td>
                <td style="color:#0000ff">Information Service </td>
                <td><b>333</b></td>
             </tr>
          </tbody>
       </table>
    </div>
 </div>
</div>
</section>
 </main>

 {% include 'includes/footer.html' %}