{% include 'includes/header.html' %}
<main>
    <section id="chancellor" class="bg-light-gray-2 my-5">
       <div class="container" style="padding-top: 50px">
          <div class="section-content" style="min-height: 500px;">
             <div class="row">
                <div class="col-sm-12">
                   <div class="row">
                      <div class="col-md-3">
                         <div class="vertical-tab">
                            <ul class="list-group">
                               <li class="list-group-item active"><a href="#tab1" data-toggle="tab" aria-expanded="false">Bhasa Shohid Abdus Salam Hall</a></li>
                               <li class="list-group-item "><a href="#tab2" data-toggle="tab" aria-expanded="false">Hazrat Bibi Khadiza Hall</a></li>
                               <li class="list-group-item "><a href="#tab3" data-toggle="tab" aria-expanded="true">Bir Muktijuddha Abdul Malek Ukil Hall</a></li>
                               <li class="list-group-item "><a href="#tab4" data-toggle="tab" aria-expanded="true">Jatir Pita Bangabandhu Sheikh Mujibur Rahman Hall</a></li>
                               <li class="list-group-item "><a href="#tab5" data-toggle="tab" aria-expanded="true">Bangamata Sheikh Fazilatunnessa Mujib Hall</a></li>
                            </ul>
                         </div>
                      </div>
               
                      <div class="col-md-9">
                         <div class="tab-content-bg tab-content">
                            <div class="tab-pane fade active in" id="tab1">
                               <div class="row">
                                  <div class="col-md-12 text-left">
                                     <h2 class="mt-0 text-primary">Basha Shahid Abdus Salam Hall </h2>
                                     <hr class="hr">
                                  </div>
                                  <div class="col-md-12">
                                     <div style="margin:20px auto" class="text-center">
                                        <img class="img" src="https://nstu.edu.bd/assets/images/accommodation/ASH.jpg" alt="" width="654" height="336">
                                     </div>
                                     <h4><b>Establishment of the Hall:2006</b> </h4>
                                     <h4><b>Hall Details :</b> </h4>
                                     <ul style="margin-left:8%" class="ul">
                                        <li>Hall Category : Male</li>
                                        <li>Number of resident Students : 400+</li>
                                        <li>Number of non-resident Students :</li>
                                        <li>Number of foreign Students : 0</li>
                                     </ul>
                                     <h4><b>Hall Provost and Assistant Hall Provosts :</b> </h4>
                                     <table style="margin-left:6%" class="table table-bordered table-striped">
                                        <thead>
                                           <tr>
                                              <th>#</th>
                                              <th>Name</th>
                                              <th>Designation</th>
                                              <th>Contact</th>
                                           </tr>
                                        </thead>
                                        <tbody>
                                           <tr>
                                              <td>1</td>
                                              <td>Dr. Md Anisuzzaman</td>
                                              <td>Hall Provost</td>
                                              <td>+8801717499749</td>
                                           </tr>
                                           <tr>
                                              <td>2</td>
                                              <td>Md. Mamun Mia </td>
                                              <td>Assistant  Provost</td>
                                              <td>+8801798039406</td>
                                           </tr>
                                           <tr>
                                              <td>3</td>
                                              <td>Md. Nazmul Huda</td>
                                              <td>Assistant  Provost</td>
                                              <td>+8801674014929</td>
                                           </tr>
                                           <tr>
                                              <td>4</td>
                                              <td>S. M. Mushfiquer Rahman Ashique</td>
                                              <td>Assistant  Provost</td>
                                              <td>+8801671439949</td>
                                           </tr>
                                           <tr>
                                              <td>5</td>
                                              <td>Md. Shahariar Kabir Shakil</td>
                                              <td>Assistant Hall Provost</td>
                                              <td>+8801717112990</td>
                                           </tr>
                                           <tr>
                                              <td>6</td>
                                              <td>Sumon Kumar Das</td>
                                              <td>Assistant Hall Provost</td>
                                              <td>+8801726843616</td>
                                           </tr>
                                           <tr>
                                              <td>7</td>
                                              <td>Anjan Kumar Nath</td>
                                              <td>Assistant  Provost</td>
                                              <td>+8801722315964</td>
                                           </tr>
                                           <tr>
                                              <td>8</td>
                                              <td>Shafiqul Alam</td>
                                              <td>Assistant  Provost</td>
                                              <td>+8801673642243</td>
                                           </tr>
                                           <tr>
                                              <td>9</td>
                                              <td>Rayhan Ahmed</td>
                                              <td>Assistant  Provost</td>
                                              <td>+8801717402875</td>
                                           </tr>
                                           <tr>
                                              <td>10</td>
                                              <td>Md. Riaz Morshed</td>
                                              <td>Assistant  Provost</td>
                                              <td>+8801733608678</td>
                                           </tr>
                                           <tr>
                                              <td>11</td>
                                              <td>Kamaruzzaman</td>
                                              <td>Assistant  Provost</td>
                                              <td>+8801722617536</td>
                                           </tr>
                                            <tr>
                                              <td>12</td>
                                              <td>Md. Shaddam Hossain</td>
                                              <td>Assistant Hall Provost</td>
                                              <td>+8801827131573</td>
                                           </tr>
                                           
                                            <tr>
                                              <td>13</td>
                                              <td>Sazzadul Karim</td>
                                              <td>Assistant Provost</td>
                                              <td>+8801866907210</td>
                                           </tr>
                                           <tr>
                                              <td>14</td>
                                              <td>Md. Golam Kibria</td>
                                              <td>Assistant Provost</td>
                                              <td>+8801674703546</td>
                                           </tr>
                                           <tr>
                                              <td>15</td>
                                              <td>Nahian Rahman</td>
                                              <td>Assistant Provost</td>
                                              <td>+8801731937675</td>
                                           </tr> 	
                                           
                                        </tbody>
                                     </table>
                                  </div>
                               </div>
                            </div>
                            
                            <div class="tab-pane fade" id="tab2">
                               <div class="row">
                                  <div class="col-md-12 text-left">
                                     <h2 class="mt-0 text-primary">Hazrat Bibi Khadiza Hall </h2>
                                     <hr class="hr">
                                  </div>
                                  <div class="col-md-12">
                                     <div style="margin:20px auto" class="text-center">
                                        <img class="img" src="https://nstu.edu.bd/assets/images/accommodation/BKH.jpg" alt="" width="654" height="336">
                                     </div>
                                     <h4><b>Establishment of the Hall : 2006</b> </h4>
                                     <h4><b>Hall Details :</b> </h4>
                                     <ul style="margin-left:8%" class="ul">
                                        <li>Hall Category : Female</li>
                                        <li>Number of resident Students :400+</li>
                                        <li>Number of non-resident Students :</li>
                                        <li>Number of foreign Students :</li>
                                     </ul>
                                     <h4><b>Hall Provost and Assistant Hall Provosts :</b> </h4>
                                     <table style="margin-left:6%" class="table table-bordered table-striped">
                                        <thead>
                                           <tr>
                                              <th>#</th>
                                              <th>Name</th>
                                              <th>Designation</th>
                                              <th>Mobile No</th>
                                           </tr>
                                        </thead>
                                        <tbody>
                                           <tr>
                                              <td>1</td>
                                              <td><strong>Dr. Md. Rafiqul Islam</strong></td>
                                              <td><strong>Provost</strong></td>
                                              <td><strong>01755026707</strong></td>
                                           </tr>
                                           
                                           
                                           <tr>
                                              <td>2</td>
                                              <td>Seefat-e-Mannan</td>
                                              <td>Assistant Provost</td>
                                              <td>01531981703</td>
                                           </tr>
                                           <tr>
                                              <td>3</td>
                                              <td>Prodip Kumar Baral</td>
                                              <td>Assistant Provost</td>
                                              <td>01735688790</td>
                                           </tr>
                                           <tr>
                                              <td>4</td>
                                              <td>Sultana Jahan Soheli</td>
                                              <td>Assistant Provost</td>
                                              <td>01754429533</td>
                                           </tr>
                                           
                                        </tbody>
                                     </table>
                                     <h4><b>Officers and Other Staffs :</b> </h4>
                                     <table style="margin-left:6%" class="table table-bordered table-striped">
                                        <thead>
                                           <tr>
                                              <th>Serial No</th>
                                              <th>Name</th>
                                              <th>Designation</th>
                                              <th>Contact Address</th>
                                           </tr>
                                        </thead>
                                        <tbody>
                                           <tr>
                                              <td>1</td>
                                              <td>Mohammad Saiful Islam</td>
                                              <td>Assistant Registrar</td>
                                              <td>01711908073</td>
                                           </tr>
                                           <tr>
                                              <td>2</td>
                                              <td>Nelufa Akter</td>
                                              <td>Assistant Registrar</td>
                                              <td>01852623387</td>
                                           </tr>
                                           <tr>
                                              <td>3</td>
                                              <td>Shamsun Nahar</td>
                                              <td>Section Officer</td>
                                              <td>01852623386</td>
                                           </tr>
                                        </tbody>
                                     </table>
                                  </div>
                               </div>
                            </div>
                            
                            
                            <div class="tab-pane fade" id="tab3">
                               <div class="row">
                                  <div class="col-md-12 text-left">
                                     <h2 class="mt-0 text-primary">Bir Muktijuddha Abdul Malek Ukil Hall </h2>
                                     <hr class="hr">
                                  </div>
                                  <div style="margin:20px auto" class="text-center">
                                     <img class="img" src="https://nstu.edu.bd/assets/images/accommodation/MUH.jpg" alt="" width="654" height="336">
                                  </div>
                                  <h4><b>Establishment of the Hall :2016 </b> </h4>
                                  <h4><b>Hall Details : </b> </h4>
                                  <ul style="margin-left:8%" class="ul">
                                     <li>Hall Category : Male</li>
                                     <li>Number of resident Students :400+ </li>
                                     <li>Number of non-resident Students : </li>
                                     <li>Number of foreign Students : 0 </li>
                                  </ul>
                                  <h4><b>Hall Provost and Assistant Provosts :</b> </h4>
                                  <table style="margin-left:6%" class="table table-bordered table-striped">
                                     <thead>
                                        <tr>
                                           <th>#</th>
                                           <th>Name</th>
                                           <th>Designation</th>
                                           <th>Contact</th>
                                        </tr>
                                     </thead>
                                     <tbody>
                                        <tr>
                                           <td>1</td>
                                           <td><strong>Dr. Mehede Hassan Rubel</strong></td>
                                           <td><strong>Provost</strong></td>
                                           <td><strong>Email:mehede@nstu.edu.bd</strong><br/><strong>Mob: +8801317791081</strong></td>
                                        </tr>
                                         <tr>
                                           <td>2</td>
                                           <td>Mahin Reza</td>
                                           <td>Assistant Provost</td>
                                           <td>Email:mahin@nstu.edu.bd <br/>Mob:+8801952650778</td>
                                        </tr>
                                        <tr>
                                           <td>3</td>
                                           <td>Iftakhar Parvez</td>
                                           <td>Assistant Provost</td>
                                           <td>Email:iftakhar.stat@nstu.edu.bd<br/>Mob:+8801719157546</td>
                                        </tr>
                                        <tr>
                                           <td>4</td>
                                           <td>Rasel Hossain</td>
                                           <td>Assistant Provost</td>
                                           <td>Email:raseliu@yahoo.com<br/>Mob:+8801750720209</td>
                                        </tr>
                                         <tr>
                                           <td>5</td>
                                           <td>Jamsedul Islam</td>
                                           <td>Assistant Provost</td>
                                           <td>Email:jamsed306@gmail.com<br/>Mob:+8801729906215</td>
                                        </tr>
                                        
                                        <tr>
                                           <td>6</td>
                                           <td>Subrata Bhowmik</td>
                                           <td>Assistant Provost</td>
                                           <td>Email:psbhowmik12.eee@nstu.edu.bd<br/>Mob:+8801676524719</td>
                                        </tr>
                                           
                                       <tr>
                                           <td>7</td>
                                           <td>Md. Abdul Aziz</td>
                                           <td>Assistant Provost</td>
                                           <td>Email:maaziz.amath@nstu.edu.bd<br/>Mob:+8801610193141</td>
                                        </tr>
                                        
                                        <tr>
                                           <td>8</td>
                                           <td>Najmus Sakib Khan</td>
                                           <td>Assistant Provost</td>
                                           <td>Email:nsakib.ocn@nstu.edu.bd<br/>Mob:+8801777179615</td>
                                        </tr>
                                        
                                        <tr>
                                           <td>9</td>
                                           <td>Sanjoy Kumar Acharjee</td>
                                           <td>Assistant Provost</td>
                                           <td>Email:acharjee.thm@nstu.edu.bd<br/>Mob:+8801917973264</td>
                                        </tr>
                                         
                                        <tr>
                                           <td>10</td>
                                           <td>Md. Jony Miah</td>
                                           <td>Assistant Provost</td>
                                           <td>Email:jony.eng@nstu.edu.bd<br/>Mob:+8801729825690 </td>
                                        </tr>
                                        <tr>
                                           <td>11</td>
                                           <td>Forhad Mahmud</td>
                                           <td>Assistant Provost</td>
                                           <td>Email:forhad.amath@nstu.edu.bd <br/>Mob:+8801750660144</td>
                                        </tr>
                                     </tbody>
                                  </table>
                                  
                                   <h4><b>Officers and Other Staffs :</b> </h4>
                                     <table style="margin-left:6%" class="table table-bordered table-striped">
                                        <thead>
                                           <tr>
                                              <th>Serial No</th>
                                              <th>Name</th>
                                              <th>Designation</th>
                                              <th>Contact Address</th>
                                           </tr>
                                        </thead>
                                        <tbody>
                                           <tr>
                                              <td>1</td>
                                              <td>Md. Humayun Kabir</td>
                                              <td>Assistant Registrar</td>
                                              <td>Email: humayunkabir3814@gmail.com <br/>Mob: 01724436792</td>
                                           </tr>
                                           
                                        </tbody>
                                     </table>
                                  
                               </div>
                            </div>
                            
                            <div class="tab-pane fade" id="tab4">
                               <div class="row">
                                  <div class="col-md-12 text-left">
                                     <h2 class="mt-0 text-primary">Jatir Pita Bangabandhu Sheikh Mujibur Rahman Hall </h2>
                                     <hr class="hr">
                                  </div>
                                  <div class="col-md-12">
                                     <div style="margin:20px auto" class="text-center">
                                        <img class="img" src="https://nstu.edu.bd/assets/images/accommodation/BMH.jpg" alt="" width="654" height="336">
                                     </div>
                                     
                                     <h4><b>Establishment of the Hall : 2019</b> </h4>
                                     
                                     <h4><b>Hall Details :</b> </h4>
                                     
                                     <ul style="margin-left:8%" class="ul">
                                        <li>Hall Category : Female</li>
                                        <li>Number of resident Students :</li>
                                        <li>Number of non-resident Students : </li>
                                        <li>Number of Foreign Students : 0</li>
                                     </ul>
                                     
                                     <h4><b>Hall Provost and Assistant Provosts :</b> </h4>
                                     
                                     <table style="margin-left:6%" class="table table-bordered table-striped">
                                        <thead>
                                           <tr>
                                              <th>#</th>
                                              <th>Name</th>
                                              <th>Designation</th>
                                              <th>Mobile No.</th>
                                           </tr>
                                        </thead>
                                        
                                        <tbody>
                                           
                                           <tr>
                                              <td>1</td>
                                              <td>Dr. Abanti Barua</td>
                                              <td>Provost</td>
                                              <td>+8801726036487</td>
                                           </tr>
                                           
                                           <tr>
                                              <td>2</td>
                                              <td>H.M.Shahadat Ali</td>
                                              <td>Assistant Provost</td>
                                              <td>+8801761325948</td>
                                           </tr>
                                           <tr>
                                              <td>3</td>
                                              <td>Nowreen Yasmin</td>
                                              <td>Assistant Provost</td>
                                              <td>+8801716849305</td>
                                           </tr>
                                           
                                           <tr>
                                              <td>4</td>
                                              <td>Tasniya Ahmed</td>
                                              <td>Assistant Provost</td>
                                              <td>+8801936543596</td>
                                           </tr>
                                           
                                           <tr>
                                              <td>5</td>
                                              <td>Md. Mozammel Bhuyan</td>
                                              <td>Assistant Provost</td>
                                              <td>+8801768775758</td>
                                           </tr>
                                           
                                            <tr>
                                              <td>6</td>
                                              <td>Shelamony Hafsa</td>
                                              <td>Assistant Provost</td>
                                              <td>+8801797528555</td>
                                           </tr>
                                           
                                           
                                        </tbody>
                                     </table>
                                  </div>
                               </div>
                            </div>
      
                            <div class="tab-pane fade" id="tab5">
                               <div class="row">
                                  <div class="col-md-12 text-left">
                                     <h2 class="mt-0 text-primary">Bangamata Sheikh Fazilatunnessa Mujib Hall </h2>
                                     <hr class="hr">
                                  </div>
                                  <div class="col-md-12" >
                                     <div style="margin:20px auto" class="text-center">
                                        <img class="img" src="https://nstu.edu.bd/assets/images/accommodation/FMH.jpg" alt="" width="654" height="336">
                                     </div>
                                     <h4><b>Establishment of the Hall : 2019</b> </h4>
                                     <h4><b>Hall Details :</b> </h4>
                                     <ul style="margin-left:8%" class="ul">
                                        <li>Hall Category : Female</li>
                                        <li>Number of resident Students : 600+</li>
                                        <li>Number of non-resident Students : </li>
                                        <li>Number of foreign Students : 0</li>
                                     </ul>
                                     <h4><b>Hall Provost and Assistant Hall Provosts :</b> </h4>
                                     <table style="margin-left:6%" class="table table-bordered">
                                        <thead>
                                           <tr>
                                              <th>#</th>
                                              <th>Name</th>
                                              <th>Designation</th>
                                              <th>Mobile No.</th>
                                           </tr>
                                        </thead>
                                        <tbody>
                                           <tr>
                                              <td>1</td>
                                              <td>Dr. Mohammad. Mohinuzzaman</td>
                                              <td>Provost</td>
                                              <td>+8801819509301</td>
                                           </tr>
                                           <tr>
                                              <td>2</td>
                                              <td>Smriti Chakrobarty</td>
                                              <td>Assistant Provost</td>
                                              <td>+8801710270788</td>
                                           </tr>
                                           <tr>
                                              <td>3</td>
                                              <td>Mahfuzur Rahman</td>
                                              <td>Assistant Provost</td>
                                              <td>+8801520102822</td>
                                           </tr>
                                           <tr>
                                              <td>4</td>
                                              <td>Md. Jakaria Hossain</td>
                                              <td>Assistant Provost</td>
                                              <td>01738640229</td>
                                           </tr>
                                           <tr>
                                              <td>5</td>
                                              <td>Bithi Mojumder</td>
                                              <td>Assistant Provost</td>
                                              <td>+8801824612707</td>
                                           </tr>
                                           <tr>
                                              <td>6</td>
                                              <td>Farjana Sultana Rafi</td>
                                              <td>Assistant Provost</td>
                                              <td>+8801837039524</td>
                                           </tr>
                                           
                                           <tr>
                                              <td>7</td>
                                              <td>Liza Terasa Rozario</td>
                                              <td>Assistant Provost</td>
                                              <td>+8801777997799</td>
                                           </tr>
                                           <tr>
                                              <td>8</td>
                                              <td>Nazmun Nahar Rima</td>
                                              <td>Assistant Provost</td>
                                              <td>+8801915961669</td>
                                           </tr>
                                           <tr>
                                              <td>9</td>
                                              <td>Md.Muniruzzaman</td>
                                              <td>Assistant Provost</td>
                                              <td>+8801776673342</td>
                                           </tr>
                                          
                                           <tr>
                                              <td>10</td>
                                              <td>Kazi Israt Anjum</td>
                                              <td>Assistant Provost</td>
                                              <td>+8801793027775</td>
                                           </tr>
                                           <tr>
                                              <td>11</td>
                                              <td>Dr. Nahid Sultana</td>
                                              <td>Assistant Provost</td>
                                              <td>+8801754077763</td>
                                           </tr>
                                           <tr>
                                              <td>12</td>
                                              <td>Prantika Mutsuddi</td>
                                              <td>Assistant Provost</td>
                                              <td>+8801534119118 </td>
                                           </tr>
                                           
                                           <tr>
                                              <td>13</td>
                                              <td>Md. Akter Hossain</td>
                                              <td>Assistant Provost</td>
                                              <td>+8801838295214</td>
                                           </tr>
                                           
                                        </tbody>
                                     </table>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
       
    </section>
 </main>
 
 {% include 'includes/footer.html' %}