{% include 'includes/header.html' %}
<main>
    <section id="chancellor" class="bg-light-gray-2 my-5">
       <div class="container">
          <div class="section-title mb-10">
             <div class="row">
                <div class="col-md-12 text-left">
                   <h2 class="mt-0">NSTU Officers Association-2022</h2>
                   <p>
                      Noakhali Science and Technology University (NSTU) Officers Association Election 2021 has been held. Mr. Sakhawat Hossain was elected president and Mr. Mejbah Uddin Palash was elected general secretary. Today Sunday (December 19, 2021) polling was held from 10.00 am to 2.30 pm in the presence of Honorable Vice-Chancellor of NSTU, Prof. Dr.Md. Didar-ul-Alam.
                      In the presence of Chief Election Commissioner Engineer Md. Jamal Hossain, Honorable Vice-Chancellor of NSTU, Md. Didar-ul-Alam announced the result.The treasurer, the president of the teacher's association, Registrar (Additional Responsibility), Deputy Controller of Examinations, Deputy Registrar (Administration) was also present.
                   </p>
                   <hr class="hr">
                </div>
             </div>
          </div>
          <div class="section-content" style="min-height: 500px;">
             <div class="row">
                <div class="col-sm-12">
                   <table class="table table-bordered">
                      <thead>
                         <tr>
                            <th scope="col">Serial No</th>
                            <th scope="col">Name</th>
                            <th scope="col">Office/Department</th>
                            <th scope="col">Designation (Officers Association-2022)</th>
                         </tr>
                      </thead>
                      <tbody>
                         <tr>
                            <th scope="row">1</th>
                            <td>Shakhawat Hossain (Deputy Director)</td>
                            <td>Office of the Accounts</td>
                            <td>President</td>
                         </tr>
                         <tr>
                            <th scope="row">2</th>
                            <td>Mesbah Uddin (Assistant Controller of the Examinations) 	</td>
                            <td>Office of the Controller of the Examinations </td>
                            <td>General Secretary</td>
                         </tr>
                         <tr>
                            <th scope="row">3</th>
                            <td>Mohammad Abdur Rahman (Deputy Registrar)</td>
                            <td>Establishment Section</td>
                            <td>Vice President</td>
                         </tr>
                         <tr>
                            <th scope="row">4</th>
                            <td>Md. Shohrab Iqbal Uzzal (Assistant Registrar)</td>
                            <td>Education Section</td>
                            <td>Joint Secretary</td>
                         </tr>
                         <tr>
                            <th scope="row">5</th>
                            <td>Mahmudur Rahman Riaz (Assistant Director)</td>
                            <td>Dept. of Physical Education</td>
                            <td>Treasurer</td>
                         </tr>
                         <tr>
                            <th scope="row">6</th>
                            <td>Md. Mohiuddin Jewel (Catalouger)</td>
                            <td>Central Library</td>
                            <td>Publication and Office Secretary</td>
                         </tr>
                         <tr>
                            <th scope="row">7</th>
                            <td>Trisha Majumder (Hall Super) 	</td>
                            <td>Bangamata Sheikh Fazilatunnesa Mujib Hall</td>
                            <td>Woman Secretary </td>
                         </tr>
                         <tr>
                            <th scope="row">8</th>
                            <td>Md. Samsuddhoa Rakib (Executive Engineer(Automobile))</td>
                            <td>Transport Section</td>
                            <td>Sports and Cultural Secretary</td>
                         </tr>
                         <tr>
                            <th scope="row">9</th>
                            <td>Tarek Md. Rashed Uddin(Deputy Registrar)</td>
                            <td>Establishment Section</td>
                            <td>Executive Member</td>
                         </tr>
                         <tr>
                            <th scope="row">10</th>
                            <td>Md. Babor Ali (Assistant Librarian)</td>
                            <td>Central Library</td>
                            <td>Executive Member</td>
                         </tr>
                         <tr>
                            <th scope="row">11</th>
                            <td>Istiak Mohammad Faisal (Assistant Registrar)</td>
                            <td>Administrative Section</td>
                            <td>Executive Member</td>
                         </tr>
                      </tbody>
                   </table>
                </div>
             </div>
          </div>
       </div>
    </section>
 </main>
  {% include 'chatbot.html' %}
 {% include 'includes/footer.html' %}