{% include 'includes/header.html' %}
<main>
    <section id="chancellor" class="bg-light-gray-2 my-5">
       <div class="container" style="padding-top: 50px">
          <div class="section-content" style="min-height: 500px;">
             <div class="row">
                <div class="col-sm-12">
                   <div class="row">
                      <div class="col-md-3">
                         <div class="vertical-tab">
                            <ul class="list-group">
                               <li class="list-group-item "><a href="#tab1" data-toggle="tab" aria-expanded="false">About Sexual Harassment Prevention Committee</a></li>
                               <li class="list-group-item "><a href="#tab2" data-toggle="tab" aria-expanded="false">Sexual Harassment Prevention Committee</a></li>
                               <li class="list-group-item "><a href="#tab3" data-toggle="tab" aria-expanded="false">Downloadables</a></li>
                               <li class="list-group-item "><a href="#tab4" data-toggle="tab" aria-expanded="true">Contact</a></li>
                            </ul>
                         </div>
                      </div>
                      <div class="col-md-9">
                         <div class="tab-content-bg tab-content">
                            <div class="tab-pane fade active in" id="tab1">
                               <div class="row">
                                  <div class="col-sm-12 text-left">
                                     <h3 class="mt-0"><font size="4" color="blue">About Sexual Harassment Prevention Committee</font></h3>
                                     <hr class="hr">
                                     <br/>
                                  </div>
                                  <div class="text-justify" style="font-family: Times New Roman; font-size: 15px; padding:10px;">
                                     <p style="color:black; font-size:100%;">
                                        To Be provided soon....
                                        <br/>
                                     </p>
                                  </div>
                               </div>
                            </div>
                            <div class="tab-pane fade" id="tab2">
                               <div class="col-md-12 text-left">
                                  <h2 class="mt-0"><font size="3" color="blue">Sexual Harassment Prevention Committee</font></h2>
                                  <hr class="hr">
                               </div>
                               <div class="row">
                                  <div class="col-md-12">
                                     <table class="table table-bordered">
                                        <thead>
                                           <tr>
                                              <th scope="col">Sl.No</th>
                                              <th scope="col">Name</th>
                                              <th scope="col">Designation</th>
                                              <th scope="col">Position in Committee</th>
                                              <th scope="col">Contact</th>
                                           </tr>
                                        </thead>
                                        <tbody>
                                           <tr>
                                              <th scope="row">1</th>
                                              <td>Professor Dr. Mohammad Salim Hossain</td>
                                              <td>Professor,Director,IIT,NSTU</td>
                                              <td style="color:#0000ff">Convener</td>
                                              <td>+8801711200410
                                                 <br/>
                                                 pharmasalim@nstu.edu.bd
                                              </td>
                                           </tr>
                                           <tr>
                                              <th scope="row">2</th>
                                              <td>Professor Dr. Jebunnessa</td>
                                              <td>Professor,Department of Public Administration,Jahangirnagar University, Savar, Dhaka-1342, Bangladesh</td>
                                              <td>Member</td>
                                              <td>N/A
                                                 <br/>N/A
                                              </td>
                                           </tr>
                                           <tr>
                                              <th scope="row">3</th>
                                              <td>Dr. Latifa Bulbul</td>
                                              <td>Professor, Dept. of Pharmacy,NSTU</td>
                                              <td>Member</td>
                                              <td>+8801741676362
                                                 <br/>latifabulbul@nstu.edu.bd
                                              </td>
                                           </tr>
                                           <tr>
                                              <th scope="row">4</th>
                                              <td>Ms. Mauli Azad</td>
                                              <td>Deputy Director, Public University Management Division,UGC, Agargaon, Dhaka-1207, Bangladesh</td>
                                              <td>Member</td>
                                              <td>N/A
                                                 <br/>N/A
                                              </td>
                                           </tr>
                                           <tr>
                                              <th scope="row">5</th>
                                              <td>Advocate Mohammad Faruk</td>
                                              <td>Assistant Public Prosecutor,Judge Court,Noakhali</td>
                                              <td>Member</td>
                                              <td>N/A
                                                 <br/>
                                                 N/A
                                              </td>
                                           </tr>
                                           <tr>
                                              <th scope="row">6</th>
                                              <td>Laila Parvin</td>
                                              <td>President,Nari Adhikar Jot, Noakhali</td>
                                              <td>Member</td>
                                              <td>N/A
                                                 <br/>
                                                 N/A
                                              </td>
                                           </tr>
                                           <tr>
                                              <th scope="row">7</th>
                                              <td>Dr. Abannti Barua</td>
                                              <td>Associate Professor, Dept. of Microbiology</td>
                                              <td style="color:#0000ff">Member Secretary</td>
                                              <td>+8801886320023
                                                 <br/>
                                                 abanti@nstu.edu.bd
                                              </td>
                                           </tr>
                                        </tbody>
                                     </table>
                                  </div>
                               </div>
                               <!-- Button for PDF Download -->
                               <button type="button" class="btn btn-light btn-sm">
                               <a href="assets/documents/miscellaneous/Sexual Harassment Prevention Committee.pdf">Download Office Order</a>
                               </button>
                            </div>
                            <div class="tab-pane fade" id="tab3">
                               <div class="col-md-12 text-left">
                                  <h2 class="mt-0"><font size="3" color="blue">Downloadables</font></h2>
                                  <hr class="hr">
                               </div>
                               <div class="row">
                                  <div class="col-md-12" style="font-size: 13px">
                                     <div class="text-justify">
                                        <table class="table table-bordered">
                                           <thead>
                                              <tr>
                                                 <th scope="col">#</th>
                                                 <th scope="col">Subject </th>
                                                 <th scope="col">Download Link</th>
                                                 <th scope="col">Published Date </th>
                                              </tr>
                                           </thead>
                                           <tbody>
                                              <tr>
                                                 <th scope="row">1</th>
                                                 <td>Sexual Harassment Verdict Announced By High Court Division</td>
                                                 <td>
                                                    <!-- Button for PDF Download -->
                                                    <button type="button" class="btn btn-light btn-sm">
                                                    <a href="assets/documents/miscellaneous/sexual_harassment_verdict.pdf">Download Sexual Harassment Verdict</a>
                                                    </button> 
                                                 </td>
                                                 <td>02.08.2022</td>
                                              </tr>
                                           </tbody>
                                        </table>
                                     </div>
                                  </div>
                               </div>
                            </div>
                            <div class="tab-pane fade" id="tab4">
                               <div class="row">
                                  <div class="col-md-12" style="font-size: 13px">
                                     <p><font size="4" color="blue"><b>Contact Address</b></font></p>
                                     <img class="pull-left flip pr-20" width="200px" height="260px" src="assets/images/common/NSTU_Logo.jpg" alt="">
                                     <p><font size="4"><b>Mailing Address </b></font></p>
                                     <p>Noakhali Science and Technology University</p>
                                     <p>Noakhali-3814, Noakhali.</p>
                                     <p style="font-size: 11px">(<b> Office Hour:</b> 9:00 AM to 5:00 PM, <b>Days:</b> Sunday to Thursday, <b>Closed weekend day:</b> Friday and Saturday)</p>
                                     <!-- <p style="color: blue; font-size:120%;"><b>e-mail: </b></p>-->
                                     <p>Website: www.nstu.edu.bd</p>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </section>
 </main>

 {% include 'includes/footer.html' %}