{% include 'includes/header.html' %}
<main>
    <section id="chancellor" class="bg-light-gray-2 my-5">
     <div class="container">
         <div class="section-title mb-10">
             <div class="row">
                 <div class="col-md-12 text-left">
                     <h2 class="mt-0">নোবিপ্রবি শিক্ষক সমিতি নির্বাচন-২০২৩</h2>
                     <p>
                         নোয়াখালী বিজ্ঞান ও প্রযুক্তি বিশ্ববিদ্যালয়ের (নোবিপ্রবি) শিক্ষক সমিতির নির্বাচন-২০২৩ রোববার (১৮ ডিসেম্বর ২০২২) অনুষ্ঠিত হয়েছে। 
                         নির্বাচনে বিনা প্রতিদ্বন্দ্বীতায় নির্বাচিত প্রার্থীদের বিজয়ী ঘোষণা করা হয়। 
                         সভাপতি নির্বাচিত হয়েছেন এসিসিই বিভাগের অধ্যাপক ড. নেওয়াজ মোহাম্মদ বাহাদুর এবং সাধারণ সম্পাদক নির্বাচিত হয়েছেন ডিবিএ বিভাগের অধ্যাপক ড. এস এম মাহবুবুর রহমান। 
                         <br/>
                         নির্বাচিত অন্যান্য প্রার্থীরা হলেন জনাব বিপ্লব মল্লিক, সহযোগী অধ্যাপক, শিক্ষা বিভাগ, সহ-সভাপতি, 
                         ড. মেহেদী হাসান রুবেল, সহযোগী অধ্যাপক, কৃষি বিভাগ, সহ-সভাপতি, 
                         জনাব মোহাম্মদ রুবেল মিয়া, সহকারী অধ্যাপক, ডিবিএ বিভাগ, যুগ্ম সাধারণ সম্পাদক, 
                         মোহাম্মদ মুহাইমিনুল ইসলাম সেলিম, সহকারী অধ্যাপক, অর্থনীতি বিভাগ, যুগ্ম সাধারণ সম্পাদক, 
                         ড. ফাহদ হুসাইন, সহকারী অধ্যাপক, ফার্মেসি বিভাগ, কোষাধ্যক্ষ, 
                         ড. লতিফা বুলবুল, সহযোগী অধ্যাপক, ফার্মেসি বিভাগ, শিক্ষা ও গবেষণা সম্পাদক, 
                         জনাব মোহাম্মদ আব্দুস সালাম, সহকারী অধ্যাপক, এমআইএস বিভাগ, প্রচার সম্পাদক, 
                         জনাব মোহাম্মদ শাহীন কাদির ভুঁইয়া, সহকারী অধ্যাপক, বিএমএস বিভাগ, ক্রীড়া ও সংস্কৃতি বিষয়ক সম্পাদক, 
                         ড. ফিরোজ আহমেদ, অধ্যাপক, অনুজীব বিজ্ঞান বিভাগ, সদস্য, 
                         ড. মোহাম্মদ আনিসুজ্জামান, অধ্যাপক, ফিমস বিভাগ, সদস্য, 
                         ড. মোহাম্মদ রফিকুল ইসলাম, সহযোগী অধ্যাপক, এসিসিই বিভাগ,সদস্য, 
                         জনাব বাদশা মিয়া, সহকারী অধ্যাপক, আইন বিভাগ, সদস্য, 
                         ড. অতুন সাহা, প্রভাষক, অনুজীব বিজ্ঞান বিভাগ, সদস্য।
 
                     </p>
                     
                     <hr class="hr">
                 </div>
             </div>
         </div>
         <div class="section-content">
             <div class="row">
                 <div class="col-sm-12">
                     
                     <table class="table table-bordered">
                         <thead>
                             <tr>
                                 <th scope="col">ক্রমিক নং</th>
                                 <th scope="col">নাম </th>
                                 <th scope="col">বিভাগ</th>
                                 <th scope="col">পদবি ( নোবিপ্রবি শিক্ষক সমিতির নির্বাচন-২০২৩ )</th>
                             </tr>
                         </thead>
 
                         <tbody>
                            <tr>
                           <th scope="row">১ </th>
                           <td> ড. নেওয়াজ মোহাম্মদ বাহাদুর ( অধ্যাপক ) </td>
                           <td>এসিসিই </td>
                           <td>সভাপতি</td>
                         </tr>
                        
                        <tr>
                           <th scope="row">২  </th>
                           <td>জনাব বিপ্লব মল্লিক (সহযোগী অধ্যাপক)</td>
                           <td> শিক্ষা বিভাগ</td>
                           <td>সহ-সভাপতি</td>
                        </tr>
                        
                        <tr>
                           <th scope="row">৩ </th>
                           <td> ড. মেহেদী হাসান রুবেল (সহযোগী অধ্যাপক )</td>
                           <td>কৃষি বিভাগ</td>
                           <td>সহ-সভাপতি</td>
                        </tr>
                        
                        <tr>
                           <th scope="row">৪  </th>
                           <td> ড. এস এম মাহবুবুর রহমান  ( অধ্যাপক ) </td>
                           <td>ডিবিএ</td>
                           <td>সাধারণ সম্পাদক</td>
                         </tr>
                        
                        <tr>
                           <th scope="row">৫ </th>
                           <td> জনাব মোহাম্মদ রুবেল মিয়া (সহকারী অধ্যাপক)</td>
                           <td> ডিবিএ </td>
                           <td>যুগ্ম সাধারণ সম্পাদক</td>
                          
                        </tr>
                        
                        <tr>
                           <th scope="row">৬ </th>
                           <td>মোহাম্মদ মুহাইমিনুল ইসলাম সেলিম (সহকারী অধ্যাপক) </td>
                           <td>অর্থনীতি </td>
                           <td>যুগ্ম সাধারণ সম্পাদক</td>
                          
                        </tr>
                        
                        <tr>
                           <th scope="row">৭ </th>
                           <td>ড. ফাহদ হুসাইন (সহকারী অধ্যাপক) </td>
                           <td>ফার্মেসি </td>
                           <td>কোষাধ্যক্ষ</td>
                          
                        </tr>
                        
                        <tr>
                           <th scope="row">৮</th>
                           <td>ড. লতিফা বুলবুল (সহযোগী অধ্যাপক) </td>
                           <td>ফার্মেসি </td>
                           <td>শিক্ষা ও গবেষণা সম্পাদক</td>
                          
                        </tr>
                         
                        <tr>
                           <th scope="row"> ৯ </th>
                           <td>জনাব মোহাম্মদ আব্দুস সালাম (সহকারী অধ্যাপক)</td>
                           <td> এমআইএস </td>
                           <td> প্রচার সম্পাদক</td>
                        </tr>
                        
                        <tr>
                           <th scope="row">১০ </th>
                           <td>জনাব মোহাম্মদ শাহীন কাদির ভুঁইয়া (সহকারী অধ্যাপক )</td>
                           <td>বিএমএস </td>
                           <td> ক্রীড়া ও সংস্কৃতি বিষয়ক সম্পাদক</td>
                        </tr>
                        
                        <tr>
                           <th scope="row">১১ </th>
                           <td>ড. ফিরোজ আহমেদ (অধ্যাপক)  </td>
                           <td>অনুজীব বিজ্ঞান </td>
                           <td>সদস্য</td>
                        </tr>
                        
                        <tr>
                           <th scope="row">১২ </th>
                           <td>ড. মোহাম্মদ আনিসুজ্জামান (অধ্যাপক) </td>
                           <td>ফিমস </td>
                           <td> সদস্য</td>
                        </tr>
                        
                        <tr>
                           <th scope="row">১৩</th>
                           <td>ড. মোহাম্মদ রফিকুল ইসলাম (সহযোগী অধ্যাপক) </td>
                           <td>এসিসিই </td>
                           <td>সদস্য</td>
                        </tr>
                        
                        <tr>
                           <th scope="row"> ১৪ </th>
                           <td>জনাব বাদশা মিয়া (সহকারী অধ্যাপক) </td>
                           <td>আইন </td>
                           <td>সদস্য</td>
                        </tr>
                        
                        <tr>
                           <th scope="row">১৫</th>
                           <td>ড. অতুন সাহা  (প্রভাষক )</td>
                           <td>অনুজীব বিজ্ঞান </td>
                           <td>সদস্য</td>
                          
                        </tr>
                        
                         </tbody>
                     </table>
                 </div>
             </div>
         </div>
     </div>
 </section>
   </main>
  {% include 'chatbot.html' %}
   {% include 'includes/footer.html' %}