{% include 'includes/header.html' %}
<main>
    <section id="chancellor" class="bg-light-gray-2 my-5">
       <div class="container my-5">
          <div class="section-title mb-10">
             <div class="row">
                <div class="col-md-12 text-left">
                   <h3 class="mt- text-primary">Welfare Officer</h3>
                    <div class="updateText" style="float:right;font-style:italic;font-size:.8em;color:blue;"><b>Last Updated:01 December,2022</b></div>
                   <hr class="hr">
                </div>
             </div>
          </div>
          <div class="section-content" style="min-height: 500px;">
             <div class="row">
                <div class="col-sm-12">
                   <div class="row">
                   
                      <div class="col-md-3">
                         <div class="vertical-tab">
                            <ul class="list-group">
                               <li class="list-group-item active"><a href="#tab1" data-toggle="tab" aria-expanded="false">Welfare Officer</a></li>
                               <li class="list-group-item"><a href="#tab5" data-toggle="tab" aria-expanded="false">Contact</a></li>
                            </ul>
                         </div>
                      </div>
                      <div class="col-md-9">
                         <div class="tab-content offices-cont-bg">
                            <div class="tab-pane fade active in" id="tab1">
                               <div class="row">
                                  <div class="col-md-12" style="font-size: 13px">
                                     <div class="text-justify">
                                        <h6 class="mt-0 text-primary" >Welfare Officer</h6>
                                        <hr class="hr">
                                        <span>To ensure timely receipt of retirement benefits to retired teachers,officers and employees of NSTU/their family members in case of death,the following officer is appointed as "Welfare Officer"</span>
                                        <br/>
                                        
                                        <table class="table table-bordered">
                                           <thead>
                                              <tr>
                                                 <th scope="col">#</th>
                                                 <th scope="col">Name</th>
                                                 <th scope="col">Contact Details</th>
                                              </tr>
                                           </thead>
                                           <tbody>
                                              <tr>
                                                 <th scope="row">1</th>
                                                 <td>Shakhawat Hossain,Deputy Director (Accounts),NSTU </td>
                                                 <td>
                                                    Mobile:01721267030
                                                    <br/>
                                                    e-mail:shakhawat@admin.nstu.edu.bd  
                                              </td>
                                                 </td>
                                              </tr>
                                           </tbody>
                                        </table>
                                        
                                            <button type="button" class="btn btn-light btn-sm">
                                                <a href="https://nstu.edu.bd/assets/documents/miscellaneous/Welfare Officer.pdf">Download</a>
                                            </button>
                                                    
                                        
                                     </div>
                                     
                                  </div>
                               </div>
                            </div>
                            <div class="tab-pane fade" id="tab5">
                               <div class="row">
                                  <div class="col-md-12" style="font-size: 13px">
                                      <p class="text-primary"><b>Contact Address</b></p>
                                     <img class="pull-left flip pr-20" width="262px" height="260px" src="https://nstu.edu.bd/assets/images/common/NSTU_Logo.jpg" alt="">
                                     <p><b>Mailing Address </b></p>
                                     <p>Registrar Office, Administrative  Building (2nd Floor)</p>
                                     <p>Noakhali Science and Technology University</p>
                                     <p>Noakhali-3814, Noakhali.</p>
                                     <p style="font-size: 11px">(<b>Office Hour:</b> 9:00 AM to 5:00 PM,  <b>Days:</b> Sunday to Thursday, <b> Closed weekend day:</b> Friday and Saturday)</p>
                                     <p>Website :www.nstu.edu.bd</p>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </section>

</main>

{% include 'includes/footer.html' %}