{% include '/includes/header.html' %}  
      <main>
<section id="chancellor" class="bg-light-gray-2 my-5">
  <div class="container my-5">
  <div class="section-title mb-10 my-5">
     <div class="row">
        <div class="col-md-12 text-left">
           <h2 class="mt-0">Office of the Accounts</h2>
           <hr class="hr">
        </div>
     </div>
  </div>
  <div class="section-content" style="min-height: 500px;">
     <div class="row">
        <div class="col-sm-12">
           <div class="row">
              <div class="col-md-3">
                 <div class="vertical-tab">
                    <ul class="list-group">
                       <li class="list-group-item active"><a href="#tab1" data-toggle="tab" aria-expanded="false">Overview</a></li>
                       <li class="list-group-item"><a href="#tab2" data-toggle="tab" aria-expanded="false">Message from the Director (Acting) of the Accounts</a></li>
                       <li class="list-group-item"><a href="#tab3" data-toggle="tab" aria-expanded="false">Vision & Mission</a></li>
                       <li class="list-group-item"><a href="#tab4" data-toggle="tab" aria-expanded="true">Administration</a></li>
                       <li class="list-group-item"><a href="#tab5" data-toggle="tab" aria-expanded="true">Activities</a></li>
                       <li class="list-group-item"><a href="#tab6" data-toggle="tab" aria-expanded="true">Contact Us</a></li>
                    </ul>
                 </div>
              </div>
              <div class="col-md-9">
                 <div class="tab-content offices-cont-bg">
                    <div class="tab-pane fade active in" id="tab1">
                       <div class="row">
                          <div class="col-md-12" style="font-size: 13px">
                             <div class="col-md-12 text-center">
                                <h2 class="mt-0">Welcome to the Office of the Accounts, NSTU</h2>
                                <hr class="hr">
                                <p>
                                   To Be Provided soon......
                                </p>
                             </div>
                          </div>
                       </div>
                    </div>
                    <div class="tab-pane fade" id="tab2">
                       <div class="row">
                          <div class="col-md-12" style="font-size: 13px">
                             <div class="text-justify">
                                <div class="text-justify">
                                   <div class="col-sm-12 text-center">
                                      <h3 class="mt-0 text-primary">Message from the Director (Acting), Accounts</h3>
                                      <p>
                                         <img class="indiv-faculty-member-image-box" src="https://nstu.edu.bd/assets/images/offices/accounts_office/Saidur_Rahman.jpeg" alt="No image" width="320">
                                      </p>
                                      <h4>Mohammad Saidur Rahman</h4>
                                      <h5>Director (Acting), Accounts, NSTU</h5>
                                   </div>
                                   <p class="text-justify">
                                      To be provided soon.....
                                   </p>
                                   <h4 class="mt-0 text-primary">Regards</h4>
                                   <h4 class="mt-0 text-primary">Deputy Director (Acting) of the Accounts,NSTU</h4>
                                   <h4 class="mt-0 text-primary">Email:accounts@office.nstu.edu.bd</h4>
                                </div>
                             </div>
                          </div>
                       </div>
                    </div>
                    <div class="tab-pane fade" id="tab3">
                       <div class="row">
                          <div class="col-md-12" style="font-size: 15px">
                             <div class="text-justify">
                                <p>
                                <h4 class="mt-0 text-primary">Vision</h4>
                                <p>To be Provided Soon</p>
                                <br/>
                                <h4 class="mt-0 text-primary">Mission </h4>
                                To be provided soon
                                <br>
                                </p>
                             </div>
                          </div>
                       </div>
                    </div>
                    <div class="tab-pane fade" id="tab4">
                       <div class="row">
                          <div class="col-md-12" style="font-size: 13px">
                             <table class="table table-bordered">
                                <thead>
                                   <tr>
                                      <th style="width: 10%" scope="col">Sl. No</th>
                                      <th style="width: 40%" scope="col">Name</th>
                                      <th style="width: 30%" scope="col">Designation</th>
                                      <th style="width: 20%" scope="col">Contact Number</th>
                                      <th style="width: 20%" scope="col">Email</th>
                                      <th style="width: 20%" scope="col">Photo</th>
                                   </tr>
                                </thead>
                                <tbody>
                                   <tr>
                                      <th scope="row">1</th>
                                      <td>Mohammad Saidur Rahman</td>
                                      <td>Director (Acting), Accounts</td>
                                      <td class="text-center"><strong>+8801718155474</strong></td>
                                      <td class="text-center">da.saidur@admin.nstu.edu.bd</td>
                                      <td class="text-center">
                                         <img src="https://nstu.edu.bd/assets/images/offices/accounts_office/Saidur_Rahman.jpeg" alt="No image" width="80">
                                      </td>
                                   </tr>
                                   <tr>
                                      <th scope="row">2</th>
                                      <td>Shakhawat Hossain</td>
                                      <td>Deputy Director</td>
                                      <td class="text-center"><strong>+8801721267030</strong></td>
                                      <td class="text-center">shakhawat@admin.nstu.edu.bd</td>
                                      <td class="text-center">
                                         <img src="https://nstu.edu.bd/assets/images/offices/accounts_office/Shakhawat_Hossain.jpeg" alt="No image" width="80">
                                      </td>
                                   </tr>
                                   <tr>
                                      <th scope="row">3</th>
                                      <td>Md. Sirajul Islam Chowdhury</td>
                                      <td>Assistant Registrar</td>
                                      <td class="text-center"><strong>+8801816716785</strong></td>
                                      <td class="text-center">sichowdhury@yahoo.com</td>
                                      <td class="text-center">
                                         <img src="https://nstu.edu.bd/assets/images/offices/accounts_office/Md_Sirajul_Islam_Chowdhury.jpeg" alt="No image" width="80">
                                      </td>
                                   </tr>
                                   <tr>
                                      <th scope="row">4</th>
                                      <td>Md. Mohiuddin Al Faisal</td>
                                      <td>Assistant Registrar</td>
                                      <td class="text-center"><strong>+8801818084179</strong></td>
                                      <td class="text-center">faisal@admin.nstu.edu.bd</td>
                                      <td class="text-center">
                                         <img src="https://nstu.edu.bd/assets/images/offices/accounts_office/Md_Mohiuddin_Al_Faisal.jpeg" alt="No image" width="80">
                                      </td>
                                   </tr>
                                   <tr>
                                      <th scope="row">5</th>
                                      <td>K M Mehedi Hassan </td>
                                      <td>Assistant Registrar</td>
                                      <td class="text-center"><strong>+8801716698706</strong></td>
                                      <td class="text-center">mehedi@admin.nstu.edu.bd</td>
                                      <td class="text-center">
                                         <img src="https://nstu.edu.bd/assets/images/offices/accounts_office/K_M_Mehedi_Hassan.jpg" alt="No image" width="80">
                                      </td>
                                   </tr>
                                   <tr>
                                      <th scope="row">6</th>
                                      <td>A. S. M. Ziaul Haque</td>
                                      <td>Assistant Director</td>
                                      <td class="text-center"><strong>+8801712980553</strong></td>
                                      <td class="text-center">forhad_ois@yahoo.com</td>
                                      <td class="text-center">
                                         <img src="https://nstu.edu.bd/assets/images/offices/accounts_office/A_S_M_Ziaul_Haque.jpeg" alt="No image" width="80">
                                      </td>
                                   </tr>
                                   <tr>
                                      <th scope="row">7</th>
                                      <td>Farhanun Nahar</td>
                                      <td>Assistant Director</td>
                                      <td class="text-center"><strong>+8801830352030</strong></td>
                                      <td class="text-center">farhanunnstu@gmail.com</td>
                                      <td class="text-center">
                                         <img src="https://nstu.edu.bd/assets/images/offices/accounts_office/Farhanun_Nahar.jpeg" alt="No image" width="80">
                                      </td>
                                   </tr>
                                   <tr>
                                      <th scope="row">8</th>
                                      <td>Mousumi Paul</td>
                                      <td>Assistant Director (Budget)</td>
                                      <td class="text-center"><strong>+8801820018068</strong></td>
                                      <td class="text-center">bhattamousumi@gmail.com</td>
                                      <td class="text-center">
                                         <img src="https://nstu.edu.bd/assets/images/offices/accounts_office/mousumi_paul.jpeg" alt="No image" width="80">
                                      </td>
                                   </tr>
                                   <tr>
                                      <th scope="row">9</th>
                                      <td>Mozibur Rahman</td>
                                      <td>Section Officer</td>
                                      <td class="text-center"><strong>+8801857338912</strong></td>
                                      <td class="text-center"></td>
                                      <td class="text-center">
                                         <img src="https://nstu.edu.bd/assets/images/offices/accounts_office/mozibur_rahman.jpg" alt="No image" width="80">
                                      </td>
                                   </tr>
                                   <tr>
                                      <th scope="row">10</th>
                                      <td>Md. Imrul Hasan rubel</td>
                                      <td>Accounts Officer</td>
                                      <td class="text-center"><strong>+8801717611657</strong></td>
                                      <td class="text-center">hasan@admin.nstu.edu.bd</td>
                                      <td class="text-center">
                                         <img src="https://nstu.edu.bd/assets/images/offices/accounts_office/Md_Imrul_Hasan_rubel.jpg" alt="No image" width="80">
                                      </td>
                                   </tr>
                                   <tr>
                                      <th scope="row">11</th>
                                      <td>MD. Abu Bakkar Siddique</td>
                                      <td>Accounts Officer</td>
                                      <td class="text-center"><strong>+8801819194081</strong></td>
                                      <td class="text-center">siddique079@gmail.com</td>
                                      <td class="text-center">
                                         <img src="https://nstu.edu.bd/assets/images/offices/accounts_office/Md_Abu_Bakkar_Siddique.jpg" alt="No image" width="80">
                                      </td>
                                   </tr>
                                </tbody>
                             </table>
                          </div>
                       </div>
                    </div>
                    <div class="tab-pane fade" id="tab5">
                       <div class="row">
                          <div class="col-md-12" style="font-size: 13px">
                             <div class="text-justify">
                                <p>
                                <h4 class="mt-0 text-primary">To be Provided Soon............... </h4>
                                <br/>
                                </p>
                             </div>
                          </div>
                       </div>
                    </div>
                    <div class="tab-pane fade" id="tab6">
                       <div class="row">
                          <div class="col-md-12" style="font-size: 13px">
                             <p class="text-primary"><b>Contact Address</b></p>
                             <img class="pull-left flip pr-20" width="262px" height="260px" src="https://nstu.edu.bd/assets/images/common/NSTU_Logo.jpg" alt="">
                             <p><b>Mailing Address </b></p>
                             <p>Office of the Accounts, Administrative Building </p>
                             <p>Noakhali Science and Technology University</p>
                             <p>Noakhali-3814, Noakhali.</p>
                             <p style="font-size: 11px">(<b>Office Hour:</b> 9:00 AM to 5:00 PM, <b>Days:</b> Sunday to Thursday, <b>Closed weekend day:</b> Friday and Saturday)</p>
                             <p>Phone:02334496563</p>
                             <p>e-mail:accounts@office.nstu.edu.bd</p>
                             <p>Website:www.nstu.edu.bd</p>
                          </div>
                       </div>
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </div>
  </div>
</section>


     </main>

  {% include '/includes/footer.html' %}
