{% include '/includes/header.html' %}

   <main>
      <section id="chancellor" class="bg-light-gray-2">
         <div class="container py-5">
            <div class="section-title mb-5">
               <h2 class="text-center">Office of the Deans</h2>
               <hr class="hr">
            </div>
            <div class="section-content">
               <div class="row">
                  <div class="col-lg-12">
                     <table class="table table-bordered table-striped">
                        <thead class="table-dark">
                           <tr>
                              <th scope="col">#</th>
                              <th scope="col">Name & Position</th>
                              <th scope="col">Photograph</th>
                              <th scope="col">Contact Details</th>
                           </tr>
                        </thead>
                        <tbody>
                           <tr>
                              <th scope="row">1</th>
                              <td>Dr. Md. Ashikur Rahman Khan<br> Dean, Faculty of Engineering and Technology<br> Chairman, Dept. of ICE, NSTU</td>
                              <td class="text-center">
                                 <img src="https://nstu.edu.bd/assets/images/offices/dean offices/Dr. Md. Ashikur Rahman Khan.jpg" alt="No image" width="80">
                              </td>
                              <td>
                                 <b>Mobile :</b>+88-01836350710<br> <b>e-mail :</b>ashik@nstu.edu.bd<br> <b>Phone (Official):02334496509</b>
                              </td>
                           </tr>
                           <tr>
                              <th scope="row">2</th>
                              <td>Prof. Dr. Md. Atiquar Rahman Bhuiyan<br> Dean,Faculty of Science <br> Chairman,Dept.of Agriculture,NSTU</td>
                              <td class="text-center">
                                 <img src="https://nstu.edu.bd/assets/images/offices/dean offices/Dr. Md. Atiquar Rahman Bhuiyan.jpg" alt="No image" width="80">
                              </td>
                              <td><b>Mobile :</b>+88-01822579647<br> <b>e-mail :</b>atiqbhuiyan.ag@nstu.edu.bd<br><b>PABX:1312</b> </td>  
                           </tr>
                           <tr>
                              <th scope="row">3</th>
                              <td>Prof. Dr. Dibyadyuti Sarkar<br>Dean, Faculty of Social Science and Humanities<br>Chairman,Dept. of BMS,NSTU</td>
                              <td class="text-center">
                                 <img src="https://nstu.edu.bd/assets/images/offices/dean offices/Prof_Dr_Dibyadyuti_Sarkar.jpg" alt="No image" width="80">
                              </td>
                              <td><b>Mobile :</b>+88-01716887743<br> <b>e-mail :</b>dibyadyuti.blws@nstu.edu.bd </td>
                           </tr>
                           <tr>
                              <th scope="row">4</th>
                              <td>Prof. Dr.S.M.Mahbubur Rahman<br> Dean, Faculty of Business Administration<br>Chairman,DBA,NSTU</td>
                              <td class="text-center">
                                 <img src="https://nstu.edu.bd/assets/images/offices/dean offices/S_M_Mahbubur_Rahman.jpeg" alt="No image" width="80">
                              </td>
                              <td><b>Mobile :</b>+88-01712122849<br> <b>e-mail:</b>mmrahman987.dba@nstu.edu.bd</td>
                           </tr>
                           
                           <tr>
                              <th scope="row">5</th>
                              <td>Prof. Dr. Biplob Mallick<br>Dean,Faculty of Education Sciences<br>Chairman,Dept. of Education,NSTU</td>
                              <td class="text-center">
                                 <img src="https://nstu.edu.bd/assets/images/avater/Biplob_Edu.jpg" alt="No image" width="80">
                              </td>
                              <td><b>Mobile :</b> +88-01552415196  <br> <b>e-mail :</b>biplob@nstu.edu.bd</td>
                           </tr>
                           
                           <tr>
                              <th scope="row">6</th>
                              <td>Prof. Dr.Mohammad Abdul Baki<br> Dean,Faculty of Law<br> Pro-VC,NSTU</td>
                              <td class="text-center">
                                 <img src="https://nstu.edu.bd/assets/images/offices/dean offices/pro_vc.jpg" alt="No image" width="80">
                              </td>
                              <td><b>Mobile :</b>+88-01714165111<br> <b>e-mail :</b>pro-vc@nstu.edu.bd </td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
               </div>
            </div>
         </div>
      </section>
   </main>


  {% include '/includes/footer.html' %}
