{% include '/includes/header.html' %}

<main>
    <section id="chancellor" class="bg-light-gray-2 my-5">
 <div class="container my-5">
    <div class="section-title mb-10 my-5">
       <div class="row">
          <div class="col-md-12 text-left">
             <h2 class="mt-0">Department of Physical Education</h2>
             <hr class="hr">
          </div>
       </div>
    </div>
    <div class="section-content" style="min-height: 500px;">
       <div class="row">
          <div class="col-sm-12">
             <div class="row">
                <div class="col-md-3">
                   <div class="vertical-tab">
                      <ul class="list-group">
                         <li class="list-group-item active"><a href="#tab1" data-toggle="tab" aria-expanded="false">Overview</a></li>
                         <li class="list-group-item"><a href="#tab2" data-toggle="tab" aria-expanded="false">Mission and Vision</a></li>
                         <li class="list-group-item"><a href="#tab3" data-toggle="tab" aria-expanded="false">Message from the Director</a></li>
                         <li class="list-group-item"><a href="#tab4" data-toggle="tab" aria-expanded="true">Teachers and Officers Profile</a></li>
                         <li class="list-group-item"><a href="#tab5" data-toggle="tab" aria-expanded="true">Contact Us</a></li>
                      </ul>
                   </div>
                </div>
                <div class="col-md-9">
                   <div class="tab-content offices-cont-bg">
                      <div class="tab-pane fade active in" id="tab1">
                         <div class="row">
                            <div class="col-md-12" style="font-size: 13px">
                               <h6 class="text-justify">
                                  <p>
                                         বিজ্ঞান ও প্রযুক্তি নির্ভর বর্তমান প্রাগ্রসর বিশ্বের সঙ্গে সঙ্গতি রক্ষা ও সমতা অর্জন এবং জাতীয় পর্যায়ে উচ্চ শিক্ষা ও আধুনিক
                                         জ্ঞানচর্চা, বিশেষ করে বিজ্ঞান ও প্রযুক্তির ক্ষেত্রে যথাযথ গুরুত্ব প্রদানসহ,
                                         পঠন-পাঠন ও গবেষনার সুযোগ সুবিধা সৃষ্টি ও সম্প্রসারণকল্পে নোয়াখালী বিজ্ঞান
                                         ও প্রযুক্তি বিশ্ববিদ্যালয় প্রতিষ্ঠিত হয়। বিশ্ববিদ্যালয় প্রতিষ্ঠার শুরুতে
                                         বাংলাদেশ গেজেট প্রকাশের মাধ্যমে শরীরচর্চা শিক্ষা বিভাগের আত্মপ্রকাশ ঘটে
                                         এবং ২০০৫-০৬ শিক্ষাবর্ষের একাডেমিক কার্যক্রমের পাশাপাশি শরীরচর্চা শিক্ষা
                                         বিভাগের কার্যক্রম শুরু করে। নোয়াখালী বিজ্ঞান ও প্রযুক্তি বিশ্ববিদ্যালযের
                                         শিক্ষার্থীদের মূল শিক্ষা কার্যক্রমের পাশাপাশি শারীরিক ও মানসিক বিকাশের
                                         উন্নতি সাধনের লক্ষ্যে শরীরচর্চা শিক্ষা বিভাগের তত্ত্বাবধানে নিয়মিত শরীরচর্চা,
                                         খেলাধুলার প্রশিক্ষণ ও প্রতিযোগিতা অনুষ্ঠিত হয়। আন্তঃবিভাগ, আন্ত:বিশ্ববিদ্যালয়,
                                         জাতীয় পর্যায়ে বিভিন্ন ইভেন্ট ব্যাডমিন্টন, দাবা, ক্যারম ও ক্লেমন ইনডোর
                                         ইউনি ক্রিকেট এবং বিসিবি আয়োজিত ক্রিকেট প্রতিযোগিতা নিয়মিত আয়োজন ও অংশগ্রহণ
                                         করা হয়। প্রতিযোগিতায় অংশ গ্রহণের পূর্বে শারীরিক ও মানসিকভাবে খেলোয়াড়দের
                                         প্রস্তুত করার লক্ষ্যে স্বল্প ও দীর্ঘমেয়াদী ক্যাম্পিং-এর মাধ্যমে প্রশিক্ষণ
                                         প্রদান করা হয়। শরীরচর্চা শিক্ষা বিভাগের অভিজ্ঞ প্রশিক্ষকদের নিবিড় তত্ত্বাবধান
                                         এবং সুপ্রশিক্ষণের কারণে বিভিন্ন প্রতিযোগিতায় অংশগ্রহণের মাধ্যমে বিশ্ববিদ্যালয়
                                         দল সাফল্যের সহিত সম্মান বয়ে এনেছে। প্রতিটি খেলার নিয়মিত প্রশিক্ষণ প্রদান
                                         করা হয়। তাছাড়া প্রতিদিন সকাল ও বিকাল বেলা নোবিপ্রবি খেলার মাঠে নিয়মিত
                                         শরীরচর্চা প্রদান করা হয়ে থাকে।
                                  </p>
                                  <p>
                                         ২০০৬-০৭ শিক্ষাবর্ষ হতে ২০১৭-১৮ শিক্ষাবর্ষ পর্যন্ত বিশ্ববিদ্যালয়ের অভ্যন্তরে ও বাহিরে মোট ১৩৫টি প্রতিযোগিতার আয়োজন ও অংশগ্রহণ
                                         করা হয়েছে, যা সত্যিই আনন্দের বিষয়। শরীরচর্চা শিক্ষা বিভাগের আয়োজনে বিশ্ববিদ্যালয়ের
                                         অভ্যন্তরে ছাত্র-ছাত্রীদের নিয়মিত প্রতিযোগিতার আয়োজন করা হয় এবং আন্তঃবিশ্ববিদ্যালয়
                                         আয়োজিত বিভিন্ন প্রতিযোগিতায় নিয়মিত অংশগ্রহণ করা হয়ে থাকে। নোয়াখালী বিজ্ঞান
                                         ও প্রযুক্তি বিশ্ববিদ্যালয়ের বিভিন্ন সীমাবদ্ধতা ও খেলাধুলার যথেষ্ট সুযোগ
                                         সুবিধার অভাব থাকা সত্ত্বে ও আমরা ক্রীড়া ক্ষেত্রে গুরুত্বপূর্ণ ভূমিকা
                                         রেখে আসছি। বিশেষ করে আন্তঃবিশ্ববিদ্যালয় ক্রিকেট, দাবা, ক্যারম ও ব্যাডমিন্টন,
                                         ক্লেমন ইনডোর ইউনি ক্রিকেট এবং বিসিবি আয়োজিত চ্যালেঞ্জ কাপ ক্রিকেট প্রতিযোগিতায়
                                         দাপটের সাথে খেলে এসেছি। আশাকরি তারই ধারাবাহিকতায় আমাদের চেষ্টায় ও কর্তৃপক্ষের
                                         ঐকান্তিক আন্তরিকতায় আরো অগ্রসর হতে পারবো। আমরা জানি, আমাদের প্রিয় উপাচার্য
                                         মহোদয় অত্যন্ত দক্ষ, বিচক্ষণ, প্রাজ্ঞ ও ক্রীড়ামোদী ব্যক্তি। তিনি বিভিন্ন
                                         সময় বলেন, “ছাত্র-ছাত্রীরা শুধু পড়ালেখা করলেই চলবে না, পড়ালেখার পাশাপাশি
                                         তাদের শারীরিক ও মানসিক বিকাশের জন্য খেলাধুলা করা অত্যন্ত প্রয়োজন।” তাঁর
                                         এ কথাতেই আমরা আশ্বস্থ হয়ে ক্রীড়াক্ষেত্রে বিভিন্নভাবে ভূমিকা রাখার চেষ্টা
                                         করছি।
                                  </p>
                                  <p>
                                         আমাদের মাননীয় উপাচার্য  মহোদয় বিশ্ববিদ্যালয়ে পদার্পনের পর থেকে নোবিপ্রবিকে বিশ্বমানের বিশ্ববিদ্যালয়ের
                                         যে স্বপ্ন দেখেছেন সে স্বপ্নের একজন অংশীদার হিসেবে আমরাও আমাদের অবস্থান
                                         থেকে নিরলস ভাবে কাজ করে যাচ্ছি। তারই ধারাবাহিকতায় ইতোমধ্যে স্পোর্টস কমপ্রেক্্র
                                         নির্মাণ, কেন্দ্রীয় খেলার মাঠে মাটি ভরাট ও ঘাস লাগানোসহ ক্রিকেটের উইকেট
                                         করার কাজ চলমান রয়েছে। আশাকরি এ ধারাবাহিকতা বজায় থাকলে অচিরেই আমরা শিক্ষার্থীদের
                                         চাহিদা মোতাবেক মাঠসহ খেলাধুলার সকল সুযোগ সুবিধা দিতে পারবো।
                                  </p>
                               </h6>
                            </div>
                         </div>
                      </div>
                      <div class="tab-pane fade" id="tab2">
                         <div class="row">
                            <div class="col-md-12">
                               <p class="text-justify" style="font-size: 13px">
                                      নোয়াখালী বিজ্ঞান ও প্রযুক্তি বিশ্ববিদ্যালয়, বিজ্ঞান ও প্রযুক্তি নির্ভর পাঠদানের পাশাপাশি ছাত্র-ছাত্রীদেরকে স্বাভাবিক মনস্তাত্বিক
                                      বিকাশ, সুস্থ, সবল ও শারীরিক ক্ষমতা বৃদ্ধি করাই হচ্ছে আমাদের মূল লক্ষ্য।
                               </p>
                            </div>
                         </div>
                      </div>
                      <div class="tab-pane fade" id="tab3">
                         <div class="row">
                            <div class="col-md-12" style="font-size: 13px">
                               <div class="text-justify">
                                  <p>
                                         একটি শিক্ষিত মা যেমন একটি শিক্ষিত জাতি উপহার দিতে পারে, ঠিক তেমনি একটি জাতি, সমাজ ও দেশকে আন্তর্জাতিক অঙ্গণে পরিচিত করতে
                                         ক্রীড়ার ভূমিকা অপরিসীম। উন্নত জীবন, সুস্থ দেহে সুন্দর মন ও সত্যের মহিমা
                                         উপলব্ধিতে ক্রীড়ার অবদান অনন্য। পৃথিবীতে বেঁচে থাকার জন্য শুধু বিশ্বাসই
                                         যথেষ্ট নয়, চিন্তা, জ্ঞান, দৃষ্টি এবং মনকে প্রফুল্ল রাখা অপরিহার্য যা
                                         ক্রীড়া অনুশীলনে অর্জিত হয়। বৃহত্তর নোয়াখালীর শ্রেষ্ঠ বিদ্যাপীঠ নোয়াখালী
                                         বিজ্ঞান ও প্রযুক্তি বিশ্ববিদ্যালয় বাংলাদেশের দক্ষিণ পশ্চিমাঞ্চলে অত্যন্ত
                                         মনোরম ও দৃষ্টিন্দন পরিবেশে ২০০১ সালে গেজেটের মাধ্যমে সংসদ কর্তৃক জাতির
                                         পিতা বঙ্গবন্ধু শেখ মুজিবুর রহমান এর কন্যা মাননীয় প্রধানমন্ত্রী দেশরত্ন
                                         শেখ হাসিনার হাত ধরে প্রতিষ্ঠিত হয়। সৌভাগ্যক্রমে আমি অত্র বিশ্ববিদ্যালয়ের
                                         শরীরচর্চা শিক্ষা বিভাগের পরিচালকের দায়িত্বপ্রাপ্ত হয়েছি।
                                  </p>
                                  <p>
                                         এ বিশ্ববিদ্যালয়ের মাননীয় উপাচার্য তাঁর কর্মযজ্ঞের মাধ্যমে শরীরচর্চা শিক্ষা বিভাগ বিশ্ববিদ্যালয়
                                         গেমস্ এ অংশগ্রহনের মাধ্যমে এগিয়ে নিয়ে যাচ্ছেন।
                                  </p>
                                  <p>
                                         সীমিত সময়ে শরীরচর্চা শিক্ষা বিভাগের ক্রীড়ামোদী ছাত্র-ছাত্রীবৃন্দ, কর্মকর্তা ও কর্মচারীদের মধ্যে গড়ে উঠেছে এক নিবিড় আত্মিক
                                         সর্ম্পক। ইহা চিরন্তর ও শ্বাশত। তাই সকলকে ঘিরে হৃদয়ের স্মতিকে অটুট রাখার
                                         বাহন হিসেবে পাথেয় হবে এই শরীরচর্চা শিক্ষা বিভাগ যা প্রকৃত অর্থেই ছাত্র-ছাত্রীদেরকে
                                         দারুনভাবে অনুপ্রাণিত করেছে।
                                  </p>
                                  <p>
                                         পরিশেষে বিশ্ববিদ্যালয়ের ক্রীড়ামোদী ছাত্র-ছাত্রীসহ অত্র প্রতিষ্ঠানের সকল সম্মানিত শিক্ষকবৃন্দ, কর্মকর্তাবৃন্দ, কর্মচারীবৃন্দ
                                         এবং সংশ্লিষ্ট সকলের দীর্ঘাযু ও উজ্জ্বল ভবিষ্যৎ কামনা করছি।
                                  </p>
                               </div>
                               <div class="" style="color: gray">
                                  <p><strong></strong></p>
                                  <p><strong>Director (Acting)</strong></p>
                                  <p><strong>Department of Physical Education</strong></p>
                               </div>
                            </div>
                         </div>
                      </div>
                      <div class="tab-pane fade" id="tab4">
                         <div class="row">
                            <div class="col-md-12">
                               <table class="table table-bordered">
                                  <thead>
                                     <tr>
                                        <th style="width: 2%" scope="col">#</th>
                                        <th style="width: 12%" scope="col">Name</th>
                                        <th style="width: 10%" scope="col">Designation</th>
                                        <th style="width: 10%" scope="col">Academic Qualifications</th>
                                        <th style="width: 15%" scope="col">Contact Address</th>
                                        <th style="width: 1%" scope="col">Photograph</th>
                                     </tr>
                                  </thead>
                                  <tbody>
                                     <tr>
                                        <th scope="row">1</th>
                                        <td>To Be Allocated</td>
                                        <td>Director (Acting)</td>
                                        <td></td>
                                        <td>
                                           Department of Physical Education <br>
                                           <b>Mob:</b><br>
                                        </td>
                                        <td class="text-center">
                                           <img src="assets/images/offices/physical_education/.jpg" alt="No image" width="80">
                                        </td>
                                     </tr>
                                     <tr>
                                        <th scope="row">2</th>
                                        <td>Sanjib Kumar Dey</td>
                                        <td>Deputy Director</td>
                                        <td>M.S.S (Sociology ) BPED</td>
                                        <td>
                                           Department of Physical Education <br>
                                           <b>Mob:</b> 01716-293672 <br>
                                        </td>
                                        <td class="text-center">
                                           <img src="assets/images/offices/physical_education/Sanjib-Kumar-Dey.jpg" alt="No image" width="80">
                                        </td>
                                     </tr>
                                     <tr>
                                        <th scope="row">3</th>
                                        <td>Mahmudur Rahaman Riaz</td>
                                        <td>Assistant Director</td>
                                        <td>M.Com.(Management), BPED</td>
                                        <td>
                                           Department of Physical Education <br>
                                           <b>Mob:</b> 01712-183979 <br>
                                        </td>
                                        <td class="text-center">
                                           <img src="assets/images/offices/physical_education/Mahmudur-Rahaman-Riaz.jpg" alt="No image" width="80">
                                        </td>
                                     </tr>
                                     <tr>
                                        <th scope="row">4</th>
                                        <td>Nazmun Nahar Beauty</td>
                                        <td>Physical Instructor</td>
                                        <td>M.S.S (Sociology), BPED,MPED</td>
                                        <td>
                                           Department of Physical Education <br>
                                           <b>Mob:</b> 01712-971707 <br>
                                        </td>
                                        <td class="text-center">
                                           <img src="assets/images/offices/physical_education/Nazmun-Nahar-Beauty.jpg" alt="No image" width="80">
                                        </td>
                                     </tr>
                                  </tbody>
                               </table>
                            </div>
                         </div>
                      </div>
                      <div class="tab-pane fade" id="tab5">
                         
                          
                          <div class="row">
                                     <div class="col-md-12" style="font-size: 13px">
                                        <p><font size="4" color="blue"><b>Contact Address</b></font></p>
                                        <img class="pull-left flip pr-20" width="262px" height="260px" src="assets/images/common/NSTU_Logo.jpg" alt="">
                                        <p><font size="4"><b>Mailing Address </b></font></p>
                                        <p>Department of Physical Education, Auditorium Building </p>
                                        <p>Noakhali Science and Technology University</p>
                                        <p>Noakhali-3814, Noakhali.</p>
                                        <p style="font-size: 11px">(<b>Office Hour:</b> 9:00 AM to 5:00 PM,   <b>Days:</b> Sunday to Thursday, <b> Closed weekend day:</b> Friday and Saturday)</p>
                                       
                                        <p>Website :  www.nstu.edu.bd</p>
                                     </div>
                                  </div>
                          
                          
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>
</section>

    </main>

  {% include '/includes/footer.html' %}
