{% include 'admin/includes/header.html' %}

<div class="content-wrapper" style="min-height: 92vh;">
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Dashboard</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/admin">Home</a></li>
            <li class="breadcrumb-item active">Add Event</li>
          </ol>
        </div>
      </div>
    </div>
  </div>

  <section class="content">
    <div class="container">
      <div class="row">
        <div class="col-6">
          <form action="/admin/upload_event" method="POST" enctype="multipart/form-data">
            <div class="mb-3">
              <label for="title" class="form-label">Title</label>
              <input type="text" name="title" id="title" class="form-control">
            </div>
            <div class="mb-3">
              <input type="button" value="Select Image" class="btn btn-outline-secondary" id="uploadImage" onclick="document.getElementById('fileInput').click()" />
              <input type="file" class="form-control d-none" id="fileInput" name="file">
            </div>
            <div class="mb-3">
              <label for="event_date" class="form-label">Event Date</label>
              <input type="date" name="event_date" id="event_date" class="form-control">
            </div>
            <div class="mb-3">
              <label for="description" class="form-label">Description</label>
              <textarea name="description" id="description" style="display: block;resize: vertical;outline: none;width: 100%;border: 1px solid #ced4da;height: 100px;" ></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Upload Event</button>
          </form>
        </div>
      </div>
    </div>
  </section>

{% include 'admin/includes/footer.html' %}