{% include 'admin/includes/header.html' %}


<div class="content-wrapper">
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Dashboard</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Add Teacher</li>
          </ol>
        </div>
      </div>
    </div>
  </div>


<section class="content">
  <div class="container my-5">
    <form action="{{ url_for('admin_add_teacher') }}" method="POST" enctype="multipart/form-data">
    <div class="row align-items-start">
      <div class="col-6">
        <h1>About Information</h1>
        <div class="mt-4">
          <label for="name" class="form-label">Teacher Name</label>
          <input type="text" name="name" id="name" class="form-control">
        </div>
        <div class="mt-4">
          <label for="designation" class="form-label">Designation</label>
          <select class="form-select" name="designation" id="designation" aria-label="Default select example">
            <option selected>Select Designation</option>
            <option value="professor">Professor</option>
            <option value="professor_director">Professor & Director</option>
            <option value="professor_chairman">Professor & Chairman</option>
            <option value="assistantprofessor">Assistant Professor</option>
            <option value="associateprofessor">Associate Professor</option>
            <option value="lecturer">Lecturer</option>
          </select>
        </div>
        <div class="mt-4">
          <label for="department" class="form-label">Department</label>
          <select class="form-select" name="department" aria-label="Select Department">
            <option selected>Select Department</option>
            <option value="iit">IIT</option>
            <option value="iis">IIS</option>
            <option value="ice">ICE</option>
            <option value="cste">CSTE</option>
            <option value="acce">ACCE</option>
            <option value="eee">EEE</option>
            <option value="fims">FIMS</option>
            <option value="pharmacy">Pharmacy</option>
            <option value="mbg">Microbiology</option>
            <option value="applied_math">Applied Math</option>
            <option value="ftns">FTNS</option>
            <option value="esdm">ESDM</option>
            <option value="bge">BGE</option>
            <option value="agriculture">Agriculture</option>
            <option value="stat">STAT</option>
            <option value="oceanography">Oceanography</option>
            <option value="bmb">BMB</option>
            <option value="zoology">Zoology</option>
            <option value="soil_water_environment">Soil Water Environment</option>
            <option value="chemistry">chemistry</option>
            <option value="physics">Physics</option>
            <option value="english">English</option>
            <option value="economics">Economics</option>
            <option value="bms">BMS</option>
            <option value="sociology">Sociology</option>
            <option value="bangla">Bangla</option>
            <option value="social_work">Social Work</option>
            <option value="dba">DBA</option>
            <option value="mis">MIS</option>
            <option value="thm">THM</option>
             <option value="education">Education</option>
            <option value="education_administration">Education Administration</option>
            <option value="law">LAW</option>
          </select>
        </div>
        <div class="mt-4">
          <input type="button" value="Select Image" class="btn btn-outline-secondary" id="uploadImage" onclick="document.getElementById('fileInput').click()" />
          <input type="file" class="form-control d-none" id="fileInput" name="file">
        </div>
        <div class="mt-4">
          <label for="" class="form-label">About</label>
          <textarea name="about" id="" style="display: block;resize: vertical;width: 100%;outline: none;border: 1px solid #ced4da;height: 100px;" ></textarea>
        </div>
      </div>
      <div class="col-6">
        <h1>Contact Information</h1>
        <div class="mt-4">
          <label for="email" class="form-label">Email</label>
          <input type="email" name="email" id="email" class="form-control">
        </div>
        <div class="mt-4">
          <label for="phone" class="form-label">Phone</label>
          <input type="number" name="phone" id="phone" class="form-control">
        </div>
        <div class="mt-4">
          <label for="linkedin" class="form-label">Linkedin</label>
          <input type="url" name="linkedin" id="linkedin" class="form-control">
        </div>
        <div class="mt-4">
          <label for="facebook" class="form-label">Facebook</label>
          <input type="url" name="facebook" id="facebook" class="form-control">
        </div>
        <div class="mt-4">
          <label for="twitter" class="form-label">Twitter</label>
          <input type="url" name="twitter" id="twitter" class="form-control">
        </div>
      </div>
      <div class="col-6">
        <h1>Educational Qualifications</h1>
        <div class="mt-4">
          <label for="degree" class="form-label">Degree Name</label>
          <input type="text" name="degree" id="degree" class="form-control" />
        </div>
        <div class="mt-4">
          <label for="university_name" class="form-label">University Name</label>
          <input type="text" name="university_name" id="university_name" class="form-control" />
        </div>
        <div class="mt-4">
          <label for="university_passing_year" class="form-label">Passing Year</label>
          <input type="number" name="university_passing_year" id="university_passing_year" class="form-control" />
        </div>
        <div class="mt-4">
          <label for="university_description" class="form-label">Description</label>
          <textarea name="university_description" id="university_description" style="display: block;resize: vertical;width: 100%;outline: none;border: 1px solid #ced4da;height: 100px;" ></textarea>
        </div>
      </div>
      <div class="col-6">
        <h1>Journal Publications</h1>
        <div class="mt-4">
          <label for="title" class="form-label">Title</label>
          <input type="text" name="title" id="title" class="form-control" />
        </div>
        <div class="mt-4">
          <label for="author" class="form-label">Author</label>
          <input type="text" name="author" id="author" class="form-control" />
        </div>
        <div class="mt-4">
          <label for="journal_name" class="form-label">Journal Name</label>
          <input type="text" name="journal_name" id="journal_name" class="form-control" />
        </div>
        <div class="mt-4">
          <label for="url" class="form-label">Journal URL</label>
          <input type="url" name="url" id="url" class="form-control" />
        </div>
        <div class="mt-4">
          <label for="date" class="form-label">Publication Date</label>
          <input type="date" name="date" id="date" class="form-control" />
        </div>
      </div>
    </div>
    <div class="col-6">
      <h1>Set Password</h1>
      <div class="mt-4">
        <label for="password" class="form-label">Password</label>
        <input type="password" name="password" id="password" class="form-control">
      </div>
    </div>
    <button type="submit" class="btn btn-primary" >Add Teacher</button>
    </form>
  </div>
</section>

  {% include 'admin/includes/footer.html' %}