{% include 'admin/includes/header.html' %}

<div class="content-wrapper" style="min-height: 92vh;">
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Dashboard</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/admin">Home</a></li>
            <li class="breadcrumb-item active">Notice</li>
          </ol>
        </div>
      </div>
    </div>
  </div>

  <section class="content">
    <div class="container">
      <div class="row">
        <div class="col-6">
          <form action="/admin/upload_notice" method="POST" enctype="multipart/form-data">
            <div class="mb-3">
              <label for="noticeTitle" class="form-label">Notice Title</label>
              <input type="text" name="titleInput" id="noticeTitle" class="form-control" />
            </div>
            <div class="mt-4">
              <input type="button" value="Select Image" class="btn btn-outline-secondary" id="uploadImage" onclick="document.getElementById('imagefileInput').click()" />
              <input type="file" class="form-control d-none" id="imagefileInput" name="imagefile">
            </div>
            <div class="mb-3">
              <input type="button" value="Choose File" class="btn btn-outline-dark" id="uploadNotice" onclick="document.getElementById('fileInput').click()" />
              <input type="file" class="form-control d-none" id="fileInput" name="file">
            </div>
            <button type="submit" class="btn btn-primary">Upload Notice</button>
          </form>
        </div>
      </div>
    </div>
  </section>

{% include 'admin/includes/footer.html' %}