<footer>
  <div class="bg-dark py-3">
    <div class="container">
      <div class="row">
        <div class="col-6 col-md-3">
          <h4 class="foot-title">Useful Link</h4>
          <ul>
            <li><a href="http://www.ugc.gov.bd/en" class="text-white">UGC</a></li>
            <li><a href="http://www.moedu.gov.bd/" class="text-white">Ministry of Education</a></li>
            <li><a href="http://www.bangabhaban.gov.bd/" class="text-white">Office of Chancellor</a></li>
            <li><a href="http://www.pmo.gov.bd/" class="text-white">Office of Prime Minister</a></li>
          </ul>
        </div>
       <div class="col-6 col-md-3">
          <h4 class="foot-title">Contact Us</h4>
          <ul>
             <li><a href="" class="text-white">Noakhali Science and Technology University</a></li>
            <li><a href="" class="text-white">Address: Sonapur Road, Noakhali 3814</a></li>
            <li><a href="" class="text-white">Email:  registrar@office.nstu.edu.bd</a></li>
            <li><a href="" class="text-white">Phone: 02334496522</a></li>
<!--              <li><a href="https://nstu.edu.bd/faculties.html" class="text-white">Faculty of Business Administration</a></li>-->
<!--              <li><a href="https://nstu.edu.bd/faculties.html" class="text-white">Faculty of Law</a></li>-->
<!--              <li><a href="https://nstu.edu.bd/faculties.html" class="text-white">Faculty of Education Sciences</a></li>-->
          </ul>
        </div>
        <div class="col-6 col-md-3">
          <h4 class="foot-title">Admission</h4>
          <ul>
            <li>
              <a href="https://www.admission.nstu.edu.bd/" style="color:white" >Undergraduate Admission</a>
            </li>
            <li>
              <a href="#" style="color:white">Postgraduate Admission</a>
            </li>
          </ul>
        </div>
        <div class="col-6 col-md-3">
          <h4 class="foot-title">Centers</h4>
          <ul>
            <li><a href="./cyber_center" style="color:white">Cyber Center</a></li>
<!--              <li>-->
<!--                <h2>Medical Center</h2>-->
<!--                <p class="text-align: justify;">The medical center of NSTU temporary located administration building ground floor , room no-117,offers free experienced general practitioner and emergency medical care services to all members (students, teachers, officers, staff, also family members of the teachers, officers, staff­ ) of the university community.</p>-->
<!--              </li>-->
            <li><a href="./medical_center" style="color: white;">Medical Center</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <p class="text-center text-white m-0">All &copy copy right reserved | <a href="" class="text-white">Noakhali Science & Technology University</a></p>
</footer>

<!-- =================== BOOTSTRAP JAVASCRIPT =================== -->

<!-- <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>



<!-- =================== CUSTOM JAVASCRIPT =================== -->
<script src="{{ url_for('static',filename='js/index.js') }}"></script>


</body>
</html>