{% include '/includes/header.html' %}
<main>
         <section id="chancellor" class="bg-light-gray-2">
            <div class="container" style="padding-top: 50px">
               <div class="section-title mb-10">
                  <div class="row">
                     <div class="col-md-12 text-left">
                        <h4 class="mt-0"><font size="3" color="blue">Academic Programs</font></h4>
                        <p>
                           Noakhali Science and Technology University (NSTU) is providing the below mentioned programs:
                        </p>
                        <hr class="hr">
                     </div>
                  </div>
               </div>
               <div class="section-content">
                  <div class="row">
                     <div class="col-sm-12">
                        <div class="row">
                           <div class="col-sm-12">
                              <!-- Institute: Institute of Information Technology (IIT) -->
                              <div class="col-md-12 text-center">
                                 <h5 class="mt-0"><font size="2" color="blue">Institute of Information Technology (IIT)</font></h5>
                              </div>
                              <table class="table table-bordered table-striped">
                                 <thead>
                                    <tr>
                                       <th scope="col">Sl. No</th>
                                       <th scope="col">Name of Degrees</th>
                                       <th scope="col">Department/Program</th>
                                       <th scope="col">Link</th>
                                    </tr>
                                 </thead>
                                 <tbody>
                                    <tr>
                                       <th scope="row">1</th>
                                       <td>
                                          <ul>
                                             <li>B.Sc.in Software Engineering</li>
                                             <br/>
                                             <li>Post Graduate Diploma in Information Technology (PGDIT)</li>
                                          </ul>
                                       </td>
                                       <td>Software Engineering Program</td>
                                       <td><a class="" href="http://nstu.edu.bd/department/department-of-software-engineering"><font size="2" color="blue">IIT</font></a></td>
                                    </tr>
                                 </tbody>
                              </table>
                              <!-- Institute: Institute of Information Sciences (IIS) -->
                              <div class="col-md-12 text-center">
                                 <h5 class="mt-0"><font size="2" color="blue">Institute of Information Sciences (IIS)</font></h5>
                              </div>
                              <table class="table table-bordered table-striped">
                                 <thead>
                                    <tr>
                                       <th scope="col">Sl. No</th>
                                       <th scope="col">Name of Degrees</th>
                                       <th scope="col">Department/Program</th>
                                       <th scope="col">Link</th>
                                    </tr>
                                 </thead>
                                 <tbody>
                                    <tr>
                                       <th scope="row">1</th>
                                       <td>
                                          <ul>
                                             <li>BSS in Information Sciences and Library Management</li>
                                             <br/>
                                             <li>Post Graduate Diploma in Library and Information Science (PGDLIS)</li>
                                          </ul>
                                       </td>
                                       <td>Department of Information Sciences and Library Management</td>
                                       <td><a class="" href="http://nstu.edu.bd/department/department-of-information-sciences-and-library-management"><font size="2" color="blue">IIS</font></a></td>
                                    </tr>
                                 </tbody>
                              </table>
                              <!-- Faculty: Faculty of Engineering and Technology -->
                              <div class="col-md-12 text-center">
                                 <h5 class="mt-0"><font size="2" color="blue">Faculty of Engineering and Technology</font></h5>
                              </div>
                              <table class="table table-bordered table-striped">
                                 <thead>
                                    <tr>
                                       <th scope="col">Sl. No</th>
                                       <th scope="col">Name of Degrees</th>
                                       <th scope="col">Department</th>
                                       <th scope="col">Link</th>
                                    </tr>
                                 </thead>
                                 <tbody>
                                    <tr>
                                       <th scope="row">1</th>
                                       <td>
                                          <ul>
                                             <li>B.Sc. Eng. in Computer Science and Telecommunication Engineering</li>
                                             <br/>
                                             <li>M.Sc. Eng. in Computer Science and Telecommunication Engineering</li>
                                          </ul>
                                       </td>
                                       <td>Department of Computer Science and Telecommunication Engineering </td>
                                       <td><a class="" href="https://www.nstu.edu.bd/department.php?name=cste"><font size="2" color="blue">CSTE</font></a></td>
                                    </tr>
                                    <tr>
                                       <th scope="row">2</th>
                                       <td>
                                          <ul>
                                             <li>B.Sc. Eng. in Applied Chemistry and Chemical Engineering </li>
                                             <br>
                                             <li>M.Sc. Eng. in Applied Chemistry and Chemical Engineering </li>
                                          </ul>
                                       </td>
                                       <td>Department of Applied Chemistry and Chemical Engineering</td>
                                       <td><a class="" href="https://www.nstu.edu.bd/department.php?name=acce"> <font size="2" color="blue">ACCE</font></a></td>
                                    </tr>
                                    <tr>
                                       <th scope="row">3</th>
                                       <td>
                                          <ul>
                                             <li>B.Sc. Eng. in Information and Communication Engineering </li>
                                             <br>
                                             <li>M.Sc. Eng. in Information and Communication Engineering </li>
                                          </ul>
                                       </td>
                                       <td>Department of Information and Communication Engineering</td>
                                       <td><a class="" href="https://www.nstu.edu.bd/department.php?name=ice"><font size="2" color="blue">ICE</font></a></td>
                                    </tr>
                                    <tr>
                                       <th scope="row">4</th>
                                       <td>B.Sc. Eng. in Electrical and Electronic Engineering </td>
                                       <td>Department of Electrical and Electronic Engineering(EEE)</td>
                                       <td><a class="" href="https://www.nstu.edu.bd/department.php?name=eee"><font size="2" color="blue">EEE</font></a></td>
                                    </tr>
                                 </tbody>
                              </table>
                              <!-- Faculty: Faculty of Science -->
                              <div class="col-md-12 text-center">
                                 <h5 class="mt-0"><font size="2" color="blue">Faculty of Science</font></h5>
                              </div>
                              <table class="table table-bordered table-striped">
                                 <thead>
                                    <tr>
                                       <th scope="col">Sl. No</th>
                                       <th scope="col">Name of Degrees</th>
                                       <th scope="col">Department</th>
                                       <th scope="col">Link</th>
                                    </tr>
                                 </thead>
                                 <tbody>
                                    <tr>
                                       <th scope="row">1</th>
                                       <td>
                                          <ul>
                                             <li>B.Sc. (Hons.) in Fisheries and Marine Science</li>
                                             <br/>
                                             <li>M.Sc. in Fisheries and Marine Science</li>
                                          </ul>
                                       </td>
                                       <td>Department of Fisheries and Marine Science</td>
                                       <td><a class="" href="https://www.nstu.edu.bd/department.php?name=fims"><font size="2" color="blue">FIMS</font></a></td>
                                    </tr>
                                    <tr>
                                       <th scope="row">2</th>
                                       <td>
                                          <ul>
                                             <li>Bachelor of Pharmacy (B.Pharm) </li>
                                             <br>
                                             <li>Master of Pharmacy (M.Pharm)</li>
                                          </ul>
                                       </td>
                                       <td>Department of Pharmacy</td>
                                       <td><a class="" href="https://www.nstu.edu.bd/department.php?name=pharmacy"> <font size="2" color="blue">Pharmacy</font></a></td>
                                    </tr>
                                    <tr>
                                       <th scope="row">3</th>
                                       <td>
                                          <ul>
                                             <li>B.Sc. (Honors) in Microbiology</li>
                                             <br>
                                             <li>M.Sc. in Microbiology </li>
                                          </ul>
                                       </td>
                                       <td>Department of Microbiology</td>
                                       <td><a class="" href="https://microbiology.nstu.edu.bd/"><font size="2" color="blue">Microbiology</font></a></td>
                                    </tr>
                                    <tr>
                                       <th scope="row">4</th>
                                       <td>
                                          <ul>
                                             <li>B.Sc.(Honours) in Applied Mathematics</li>
                                             <li>M.Sc. in Applied Mathematics</li>
                                          </ul>
                                       </td>
                                       <td>Department of Mathematics</td>
                                       <td><a class="" href="https://www.nstu.edu.bd/department.php?name=am"><font size="2" color="blue">Applied Mathematics</font></a></td>
                                    </tr>
                                    <tr>
                                       <th scope="row">5</th>
                                       <td>B.Sc.(Honours) in Food Technology and Nutrition Science </td>
                                       <td>Department of Food Technology and Nutrition Science(FTNS)</td>
                                       <td><a class="" href="ftns.html"><font size="2" color="blue">FTNS</font></a></td>
                                    </tr>
                                    <tr>
                                       <th scope="row">6</th>
                                       <td>B.Sc.(Honours) in Environmental Science and Disaster Management</td>
                                       <td>Department of Environmental Science and Disaster Management (ESDM)</td>
                                       <td><a class="" href="https://www.nstu.edu.bd/department.php?name=esdm"><font size="2" color="blue">ESDM</font></a></td>
                                    </tr>
                                    <tr>
                                       <th scope="row">7</th>
                                       <td>B.Sc.(Honours) in Biotechnology and Genetic Engineering </td>
                                       <td>Department of Biotechnology and Genetic Engineering (BGE)</td>
                                       <td><a class="" href="https://www.nstu.edu.bd/department.php?name=bge"><font size="2" color="blue">BGE</font></a></td>
                                    </tr>
                                    <tr>
                                       <th scope="row">8</th>
                                       <td>B.Sc.(Honours) in Agriculture</td>
                                       <td>Department of Agriculture</td>
                                       <td><a class="" href="https://www.nstu.edu.bd/department.php?name=agriculture"><font size="2" color="blue">Agriculture</font></a></td>
                                    </tr>
                                    <tr>
                                       <th scope="row">9</th>
                                       <td>B.Sc.(Honours) in Statistics</td>
                                       <td>Department of Statistics</td>
                                       <td><a class="" href="https://www.nstu.edu.bd/department.php?name=stat"><font size="2" color="blue">Statistics</font></a></td>
                                    </tr>
                                    <tr>
                                       <th scope="row">10</th>
                                       <td>B.Sc. (Honours) in Oceanography </td>
                                       <td>Department of Oceanography</td>
                                       <td><a class="" href="https://www.nstu.edu.bd/department.php?name=oceanography"><font size="2" color="blue">Oceanography</font></a></td>
                                    </tr>
                                    <tr>
                                       <th scope="row">11</th>
                                       <td>B.Sc. (Honours) in Biochemistry and Molecular Biology </td>
                                       <td>Department of Biochemistry and Molecular Biology (BMB)</td>
                                       <td><a class="" href="https://www.nstu.edu.bd/department.php?name=bmb"><font size="2" color="blue">BMB</font></a></td>
                                    </tr>
                                    <tr>
                                       <th scope="row">12</th>
                                       <td>B.Sc. (Honours) in Zoology</td>
                                       <td>Department of Zoology</td>
                                       <td><a class="" href="zoo.html"><font size="2" color="blue">Zoology</font></a></td>
                                    </tr>
                                    <tr>
                                       <th scope="row">13</th>
                                       <td>B.Sc. (Hons.) in Soil, Water and Environment</td>
                                       <td>Department of Soil,Water and Environment</td>
                                       <td><a class="" href="SWE.html"><font size="2" color="blue">Soil,Water and Environment</font></a></td>
                                    </tr>
                                    <tr>
                                       <th scope="row">14</th>
                                       <td>B.Sc. (Hons.) in Chemistry</td>
                                       <td>Department of Chemistry</td>
                                       <td><a class="" href="chemistry.html"><font size="2" color="blue">Chemistry</font></a></td>
                                    </tr>
                                    <tr>
                                       <th scope="row">15</th>
                                       <td>B.Sc. (Hons.) in Physics</td>
                                       <td>Department of Physics</td>
                                       <td><a class="" href="physics.html"><font size="2" color="blue">Physics</font></a></td>
                                    </tr>
                                 </tbody>
                              </table>
                              <!-- Faculty: Faculty of Social Science and Humanities -->
                              <div class="col-md-12 text-center">
                                 <h5 class="mt-0"><font size="2" color="blue">Faculty of Social Science and Humanities</font></h5>
                              </div>
                              <table class="table table-bordered table-striped">
                                 <thead>
                                    <tr>
                                       <th scope="col">Sl. No</th>
                                       <th scope="col">Name of Degrees</th>
                                       <th scope="col">Department</th>
                                       <th scope="col">Link</th>
                                    </tr>
                                 </thead>
                                 <tbody>
                                    <tr>
                                       <th scope="row">1</th>
                                       <td>
                                          <ul>
                                             <li>B.A.(Honours) in  English</li>
                                             <br/>
                                             <li>M.A. in English</li>
                                          </ul>
                                       </td>
                                       <td>Department of English</td>
                                       <td><a class="" href="eng.html"><font size="2" color="blue">English</font></a></td>
                                    </tr>
                                    <tr>
                                       <th scope="row">2</th>
                                       <td>
                                          <ul>
                                             <li>Bachelor of Social Sciences (BSS) in Economics </li>
                                             <br>
                                             <li>Master of Social Sciences (MSS) in Economics </li>
                                          </ul>
                                       </td>
                                       <td>Department of Economics</td>
                                       <td><a class="" href="eco.html"> <font size="2" color="blue">Economics</font></a></td>
                                    </tr>
                                    <tr>
                                       <th scope="row">3</th>
                                       <td>
                                          <ul>
                                             <li>B.A. (Honours) in Bangladesh and Liberation War Studies</li>
                                          </ul>
                                       </td>
                                       <td>Department of Bangladesh and Liberation War Studies (BLWS)</td>
                                       <td><a class="" href="bms.html"><font size="2" color="blue">BLWS</font></a></td>
                                    </tr>
                                    <tr>
                                       <th scope="row">4</th>
                                       <td>BSS (Hons.) in Sociology</td>
                                       <td>Department of Sociology</td>
                                       <td><a class="" href="soc.html"><font size="2" color="blue">Sociology</font></a></td>
                                    </tr>
                                    <tr>
                                       <th scope="row">5</th>
                                       <td>B.A. (Honours) in Bangla </td>
                                       <td>Department of Bangla</td>
                                       <td><a class="" href="bangla.html"><font size="2" color="blue">Bangla</font></a></td>
                                    </tr>
                                    <tr>
                                       <th scope="row">6</th>
                                       <td>BSS (Honours) in Social Work</td>
                                       <td>Department of Social Work</td>
                                       <td><a class="" href="sw.html"><font size="2" color="blue">Social Work</font></a></td>
                                    </tr>
                                 </tbody>
                              </table>
                              <!-- Faculty: Faculty of Business Administration -->
                              <div class="col-md-12 text-center">
                                 <h5 class="mt-0"><font size="2" color="blue">Faculty of Business Administration</font></h5>
                              </div>
                              <table class="table table-bordered table-striped">
                                 <thead>
                                    <tr>
                                       <th scope="col">Sl. No</th>
                                       <th scope="col">Name of Degrees</th>
                                       <th scope="col">Department</th>
                                       <th scope="col">Link</th>
                                    </tr>
                                 </thead>
                                 <tbody>
                                    <tr>
                                       <th scope="row">1</th>
                                       <td>
                                          <ul>
                                             <li>Bachelor of Business Administration (BBA)</li>
                                             <br/>
                                             <li>Master of Business Administration (MBA)</li>
                                          </ul>
                                       </td>
                                       <td>Department of Business Administration</td>
                                       <td><a class="" href="https://www.nstu.edu.bd/department.php?name=dba"><font size="2" color="blue">DBA</font></a></td>
                                    </tr>
                                    <tr>
                                       <th scope="row">2</th>
                                       <td>
                                          <ul>
                                             <li>Bachelor of Business Administration (BBA-MIS)</li>
                                          </ul>
                                       </td>
                                       <td>Department of Management information Systems</td>
                                       <td><a class="" href="https://www.nstu.edu.bd/department.php?name=department-of-management-information-systems"> <font size="2" color="blue">MIS</font></a></td>
                                    </tr>
                                    <tr>
                                       <th scope="row">3</th>
                                       <td>
                                          <ul>
                                             <li>Bachelor of Business Administration (BBA-THM)</li>
                                          </ul>
                                       </td>
                                       <td>Department of Tourism and Hospitality Management</td>
                                       <td><a class="" href="https://www.nstu.edu.bd/department.php?name=thm"><font size="2" color="blue">THM</font></a></td>
                                    </tr>
                                 </tbody>
                              </table>
                              <!-- Faculty: Faculty of Education Sciences -->
                              <div class="col-md-12 text-center">
                                 <h5 class="mt-0"><font size="2" color="blue">Faculty of Education Sciences</font></h5>
                              </div>
                              <table class="table table-bordered table-striped">
                                 <thead>
                                    <tr>
                                       <th scope="col">Sl. No</th>
                                       <th scope="col">Name of Degrees</th>
                                       <th scope="col">Department</th>
                                       <th scope="col">Link</th>
                                    </tr>
                                 </thead>
                                 <tbody>
                                    <tr>
                                       <th scope="row">1</th>
                                       <td>
                                          <ul>
                                             <li>Bachelor of Education (Hons.)</li>
                                          </ul>
                                       </td>
                                       <td>Department of Education</td>
                                       <td><a class="" href="edu.html"><font size="2" color="blue">Education</font></a></td>
                                    </tr>
                                    <tr>
                                       <th scope="row">2</th>
                                       <td>
                                          <ul>
                                             <li>Bachelor of Educational Administration (Hons.)</li>
                                          </ul>
                                       </td>
                                       <td>Department of Educational Administration</td>
                                       <td><a class="" href="https://www.nstu.edu.bd/department.php?name=educational-administration"><font size="2" color="blue">Educational Administration</font></a></td>
                                    </tr>
                                 </tbody>
                              </table>
                              <!-- Faculty: Faculty of Law -->
                              <div class="col-md-12 text-center">
                                 <h5 class="mt-0"><font size="2" color="blue">Faculty of Law</font></h5>
                              </div>
                              <table class="table table-bordered table-striped">
                                 <thead>
                                    <tr>
                                       <th scope="col">Sl. No</th>
                                       <th scope="col">Name of Degrees</th>
                                       <th scope="col">Department</th>
                                       <th scope="col">Link</th>
                                    </tr>
                                 </thead>
                                 <tbody>
                                    <tr>
                                       <th scope="row">1</th>
                                       <td>
                                          <ul>
                                             <li>LLB (Hons)</li>
                                          </ul>
                                       </td>
                                       <td>Department of Law</td>
                                       <td><a class="" href="https://www.nstu.edu.bd/department.php?name=law"><font size="2" color="blue">LAW</font></a></td>
                                    </tr>
                                 </tbody>
                              </table>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </section>
      </main>

      {% include '/includes/footer.html' %}