{% include '/includes/header.html' %}     
	  <main>
	  <section id="chancellor" class="bg-light-gray-2" style="min-height: 80vh;">
   <div class="container" style="padding-top: 50px">
      <div class="section-title mb-10">
         <div class="row">
            <div class="col-md-12 text-left">
               <h4 class="mt-0"><font size="3" color="blue">Institutes</font></h4>
              
               <hr class="hr">
               
            </div>
         </div>
      </div>
      <div class="section-content">
         <div class="row">
            <div class="col-sm-12">
               <div class="row">
                  <div class="col-sm-12">
                     <!-- Institute: Institute of Information Technology (IIT) -->
                     <div class="col-md-12 text-center">
                        <h5 class="mt-0"><font size="2" color="blue">Institute of Information Technology (IIT)</font></h5>
                     </div>
                     <table class="table table-bordered">
                        <thead>
                           <tr>
                              <th scope="col">Sl. No</th>
                              <th scope="col">Programe</th>
                              <th scope="col">Overview</th>
                              <th scope="col">Faculty Members</th>
                              <th scope="col">Students Profile</th>
                           </tr>
                        </thead>
                        <tbody>
                           <tr>
                              <th scope="row">1</th>
                              <td>Software Engineering Program</td>
                              <td><a class="" href="https://iitnstu.sererl.com/"><font size="2" color="blue">IIT</font></a></td>
                              <td><a class="" href="iit/faculties"><font size="2" color="blue">IIT</font></a></td>
                              <td><a class="" href="iit/students"><font size="2" color="blue">IIT</font></a></td>

                           </tr>
                        </tbody>
                     </table>
                     <!-- Institute: Institute of Information Sciences (IIS) -->
                     <div class="col-md-12 text-center">
                        <h5 class="mt-0"><font size="2" color="blue">Institute of Information Sciences (IIS)</font></h5>
                     </div>
                     <table class="table table-bordered">
                        <thead>
                           <tr>
                               <th scope="col">Sl. No</th>
                              <th scope="col">Programe</th>
                              <th scope="col">Overview</th>
                              <th scope="col">Faculty Members</th>
                              <th scope="col">Students Profile</th>
                           </tr>
                        </thead>
                        <tbody>
                           <tr>
                              <th scope="row">1</th>
                              
                              <td>Department of Information Sciences and Library Management</td>
                              <td><a class="" href="iis"><font size="2" color="blue">IIS</font></a></td>
                              <td><a class="" href="iis/faculties"><font size="2" color="blue">IIS</font></a></td>
                              <td><a class="" href="iis/students"><font size="2" color="blue">IIS</font></a></td>

                           </tr>
                        </tbody>
                     </table>
                     
                  </div>
               </div>
            </div>
         </div>
               </div>
   </div>
   
</section>
</main>
  {% include 'chatbot.html' %}
{% include '/includes/footer.html' %}