{% include 'includes/header.html' %}
<main>
    <section id="chancellor" class="bg-light-gray-2">
       <div class="container" style="padding-top: 50px">
          <div class="section-content">
             <div class="row">
                <div class="col-md-12 text-left">
                   <h2 class="mt-0 text-primary">Regent Board</h2>
                   <hr class="hr">
                </div>
                <div class="col-sm-12 text-center">
                   <p style="text-align:left; font-size:120%"><strong>Chairman</strong></p>
                   <table class="table table-bordered table-striped">
                      <thead>
                         <tr>
                            <th style="width: 10%" scope="col">Sl. No</th>
                            <th style="width: 20%" scope="col">Name</th>
                            <th style="width: 40%" scope="col">Designation</th>
                            <th style="width: 10%" scope="col">Position</th>
                            <th style="width: 20%" scope="col">Contact</th>
                         </tr>
                      </thead>
                      <tbody>
                         <tr>
                            <td>1</td>
                            <td>
                               <b>
                                  <!--Prof. Dr. Md. Didar-ul-Alam-->
                               </b>
                            </td>
                            <td>Vice-Chancellor,Noakhali Science and Technology University (NSTU)</td>
                            <td><b>Chairman</b></td>
                            <td>Mobile:<br>+88-01730042888;<br>+88-01716058417;<br/>e-mail:<br>vc@nstu.edu.bd</td>
                         </tr>
                      </tbody>
                   </table>
                   <!--Starts here-->
                   <hr class="hr">
                   <p style="text-align:left; font-size:120%"><strong>Members</strong></p>
                   <table class="table table-bordered table-striped">
                      <thead>
                         <tr>
                            <th style="width: 10%" scope="col">Sl. No</th>
                            <th style="width: 20%" scope="col">Name</th>
                            <th style="width: 40%" scope="col">Designation</th>
                            <th style="width: 10%" scope="col">Position</th>
                            <th style="width: 20%" scope="col">Contact</th>
                         </tr>
                      </thead>
                      <tbody>
                         <tr>
                            <td>2</td>
                            <td><b>Professor Dr. Mohammad Abdul Baki</b></td>
                            <td>Pro-VC,Noakhali Science and Technology University (NSTU)</td>
                            <td>Member</td>
                            <td>Mobile: 01714165111<br/> Phone:02334496506(Office) <br/> e-mail:pro-vc@nstu.edu.bd</td>
                         </tr>
                         <tr>
                            <td>3</td>
                            <td><b>Professor Dr. Newaz Mohammed Bahadur</b></td>
                            <td>Treasurer, Noakhali Science and Technology University (NSTU)</td>
                            <td>Member</td>
                            <td>Mob:+88-01790229674;<br/>e-mail:treasurer@nstu.edu.bd</td>
                         </tr>
                      </tbody>
                   </table>
                   <!--Ends here-->
                   <!--Starts here-->
                   <p style="text-align:left; font-size:120%"><strong>Two Members of Parliament nominated by the Leader of Parliament, one of whom shall be from Greater Noakhali District.</strong></p>
                   <table class="table table-bordered table-striped">
                      <thead>
                         <tr>
                            <th style="width: 10%" scope="col">Sl. No</th>
                            <th style="width: 20%" scope="col">Name</th>
                            <th style="width: 40%" scope="col">Designation</th>
                            <th style="width: 10%" scope="col">Position</th>
                            <th style="width: 20%" scope="col">Contact</th>
                         </tr>
                      </thead>
                      <tbody>
                         <tr>
                            <td>4</td>
                            <td><b>Selima Ahmed</b></td>
                            <td>MP,Cumilla-2,Cumilla</td>
                            <td>Member</td>
                            <td>Mob:01711522858<br/>e-mail: comila.2@parliarment.gov.bd
                               <br/>selimaahmad@gmail.com
                               <br/>PS-hasan.pstomp@gmail.com
                            </td>
                         </tr>
                         <tr>
                            <td>5</td>
                            <td><b>Farida Khanam</b></td>
                            <td>MP,Women Seat-33, Noakhali</td>
                            <td>Member</td>
                            <td>Mob:01713043348;<br/>e-mail:faridakhanom203@gmail.com</td>
                         </tr>
                      </tbody>
                   </table>
                   <!--Ends here-->
                   <p style="text-align:left; font-size:120%"><strong>Two members of the rank of Joint Secretary nominated by the Government.</strong></p>
                   <!--Starts here-->
                   <table class="table table-bordered table-striped">
                      <thead>
                         <tr>
                            <th style="width: 10%" scope="col">Sl. No</th>
                            <th style="width: 20%" scope="col">Name</th>
                            <th style="width: 40%" scope="col">Designation</th>
                            <th style="width: 10%" scope="col">Position</th>
                            <th style="width: 20%" scope="col">Contact</th>
                         </tr>
                      </thead>
                      <tbody>
                         <tr>
                            <td>6</td>
                            <td><b>Additional Secretary (Admin and Finance)</b></td>
                            <td>Ministry of Education,People's Republic of Bangladesh, Bangladesh Secretariat,Dhaka-1000</td>
                            <td>Member</td>
                            <td>Mob:01534890856;<br/>e-mail: adssec_admn@moedu.gov.bd </td>
                         </tr>
                         <tr>
                            <td>7</td>
                            <td><b>Joint Secretary (Development-1)</b></td>
                            <td>Ministry of Education,People's Republic of Bangladesh, Bangladesh Secretariat,Dhaka-1000</td>
                            <td>Member</td>
                            <td>Mob:01718566653;<br/>e-mail:js_dev1@moedu.gov.bd</td>
                         </tr>
                      </tbody>
                   </table>
                   <!--Ends here-->
                   <!--Starts here-->
                   <p style="text-align:left; font-size:120%"><strong>Three members from science and technology research institutes nominated by the government.</strong></p>
                   <table class="table table-bordered table-striped">
                      <thead>
                         <tr>
                            <th style="width: 10%" scope="col">Sl. No</th>
                            <th style="width: 20%" scope="col">Name</th>
                            <th style="width: 40%" scope="col">Designation</th>
                            <th style="width: 10%" scope="col">Position</th>
                            <th style="width: 20%" scope="col">Contact</th>
                         </tr>
                      </thead>
                      <tbody>
                         <tr>
                            <td>8</td>
                            <td><b>Prof. Dr. A. S. M. Maksud Kamal</b></td>
                            <td>Member,BCSIR,Dhaka and Center for Advance Research and Sciences,DU & Pro-VC (Education) and Professor, Department of Disaster Science and Management, University of Dhaka, Dhaka-1000</td>
                            <td>Member</td>
                            <td>Mob:01759760944;<br/>e-mail: maksudkamal@du.ac.bd </td>
                         </tr>
                         <tr>
                            <td>9</td>
                            <td><b>Dr. Samina Ahmed</b></td>
                            <td>Chief Scientific Officer, Director (Additional Charge), BCSIR, Dhaka</td>
                            <td>Member</td>
                            <td>Mob:01817549816;<br/>e-mail:shanta_samina@yahoo.com </td>
                         </tr>
                         <tr>
                            <td>10</td>
                            <td><b>Dr. Mohiuddin Chowdhury</b></td>
                            <td>Chief Scientific Officer, BARI, Regional Office,Maijdee Bazar, Noakhali</td>
                            <td>Member</td>
                            <td>Mob:01708097827;<br/>e-mail:psoofrdbari@gmail.com</td>
                         </tr>
                      </tbody>
                   </table>
                   <!--Ends here-->
                   <!--Starts here-->
                   <p style="text-align:left; font-size:120%"><strong>Three distinguished academicians nominated by the Chancellor.</strong></p>
                   <table class="table table-bordered table-striped">
                      <thead>
                         <tr>
                            <th style="width: 10%" scope="col">Sl. No</th>
                            <th style="width: 20%" scope="col">Name</th>
                            <th style="width: 40%" scope="col">Designation</th>
                            <th style="width: 10%" scope="col">Position</th>
                            <th style="width: 20%" scope="col">Contact</th>
                         </tr>
                      </thead>
                      <tbody>
                         <tr>
                            <td>11</td>
                            <td><b>Prof. Dr. Anwar Hossain</b></td>
                            <td>Vice-Chancellor,JUST,Jashore</td>
                            <td>Member</td>
                            <td>Mob:01715363753;<br/>e-mail:hossaina@du.ac.bd</td>
                         </tr>
                         <tr>
                            <td>12</td>
                            <td><b>Prof. Dr. M Shahinur Rahman</b></td>
                            <td>Professor, Dept. of English and Ex. Pro-VC, Islamic University,Kushtia</td>
                            <td>Member</td>
                            <td>Mob:01711042403;<br/>e-mail:prof.shaheen@gmail.com</td>
                         </tr>
                         <tr>
                            <td>13</td>
                            <td><b>Prof. Dr. Md. Humayun Kabir</b></td>
                            <td>Professor, Department of Islamic History & Culture ,University of Dhaka, Dhaka-1000</td>
                            <td>Member</td>
                            <td>Mob:01819100992; <br/>e-mail: mhumayunkabir@du.ac.bd</td>
                         </tr>
                      </tbody>
                   </table>
                   <!--Starts here-->
                   <p style="text-align:left; font-size:120%"><strong>Chairman, Board of Secondary and Higher Secondary Education, Chittagong.</strong></p>
                   <table class="table table-bordered table-striped">
                      <thead>
                         <tr>
                            <th style="width: 10%" scope="col">Sl. No</th>
                            <th style="width: 20%" scope="col">Name</th>
                            <th style="width: 40%" scope="col">Designation</th>
                            <th style="width: 10%" scope="col">Position</th>
                            <th style="width: 20%" scope="col">Contact</th>
                         </tr>
                      </thead>
                      <tbody>
                         <tr>
                            <td>14</td>
                            <td><b>Chairman</b></td>
                            <td>Secondary and Higher Secondary Education Board,Chattogram</td>
                            <td>Member</td>
                            <td>Mob:+88-01711723224;<br/>e-mail: chairman@bise-ctg.gov.bd </td>
                         </tr>
                      </tbody>
                   </table>
                   <!--Ends here-->
                   <!--Starts here-->
                   <p style="text-align:left; font-size:120%"><strong>Three representatives elected by the Academic Council from among the teachers of the University.</strong></p>
                   <table class="table table-bordered table-striped">
                      <thead>
                         <tr>
                            <th style="width: 10%" scope="col">Sl. No</th>
                            <th style="width: 20%" scope="col">Name</th>
                            <th style="width: 40%" scope="col">Designation</th>
                            <th style="width: 10%" scope="col">Position</th>
                            <th style="width: 20%" scope="col">Contact</th>
                         </tr>
                      </thead>
                      <tbody>
                         
                         <tr>
                            <td>15</td>
                            <td><b>Professor Dr. Md. Anisuzzaman</b></td>
                            <td>Professor, Dept. of FIMS,NSTU</td>
                            <td>Member</td>
                            <td>Phone:+88-01717499749;<br/>e-mail:anisfims@nstu.edu.bd</td>
                         </tr>
                         <tr>
                            <td>15</td>
                            <td><b>Prof. Dr. Biplob Mallick</b></td>
                            <td>Professor, Dept. of Education, NSTU</td>
                            <td>Member</td>
                            <td>Mob:+88-01552415196;<br/>e-mail:biplob@nstu.edu.bd</td>
                         </tr>
                         <tr>
                            <td>17</td>
                            <td><b>Dr. Md. Ruhul Amin</b></td>
                            <td>Associate Professor,Dept. of Microbiology, NSTU</td>
                            <td>Member</td>
                            <td>Mob:+88-01724756620;<br/>e-mail:ruhulmicro13@nstu.edu.bd </td>
                         </tr>
                      </tbody>
                   </table>
                   <!--Ends Here-->
                   <!--Starts here-->
                   <p style="text-align:left; font-size:120%"><strong>A member nominated by the Government from among persons engaged in industry and trade.</strong></p>
                   <table class="table table-bordered table-striped">
                      <thead>
                         <tr>
                            <th style="width: 10%" scope="col">Sl. No</th>
                            <th style="width: 20%" scope="col">Name</th>
                            <th style="width: 40%" scope="col">Designation</th>
                            <th style="width: 10%" scope="col">Position</th>
                            <th style="width: 20%" scope="col">Contact</th>
                         </tr>
                      </thead>
                      <tbody>
                         <tr>
                            <td>18</td>
                            <td><b>Md. Mamunur Rashid Kiron</b></td>
                            <td>MP,Noakhali-3 and MD, Globe Pharmaceuticals Limited,Noakhali</td>
                            <td>Member</td>
                            <td>Mob:+88-01817211113;<br/>e-mail:hm.naser.uddin@gmail.com </td>
                         </tr>
                      </tbody>
                   </table>
                   <!--Ends here-->
                   <!--Starts here-->
                   <p style="text-align:left; font-size:120%"><strong>Two teachers with the rank of Professor from various universities of Greater Noakhali district nominated by the Academic Council.</strong></p>
                   <table class="table table-bordered table-striped">
                      <thead>
                         <tr>
                            <th style="width: 10%" scope="col">Sl. No</th>
                            <th style="width: 20%" scope="col">Name</th>
                            <th style="width: 40%" scope="col">Designation</th>
                            <th style="width: 10%" scope="col">Position</th>
                            <th style="width: 20%" scope="col">Contact</th>
                         </tr>
                      </thead>
                      <tbody>
                         <tr>
                            <td>19</td>
                            <td><b>Principal</b></td>
                            <td>Noakhali Govt. College</td>
                            <td>Member</td>
                            <td>Mob:+88-01711021929;<br/>e-mail:ngc_principal@yahoo.com</td>
                         </tr>
                         <tr>
                            <td>20</td>
                            <td><b>Professor Dr. Md. Abdus Salam</b></td>
                            <td>Principal, Abdul Malek Medical College,Noakhali</td>
                            <td>Member</td>
                            <td>Mob:+88-01741190870;<br/>e-mail:nmc@ac.dghs.gov.bd </td>
                         </tr>
                      </tbody>
                   </table>
                </div>
             </div>
          </div>
       </div>
    </section>
 </main>
 {% include 'includes/footer.html' %}