{% include 'includes/header.html' %}

<div class="container my-5">
  <h2 style="color: blue;">About Cyber Center</h2>
  <p>The Cyber Center (CC) of NSTU was established on 29th March, 2011 located in the ground floor of Academic building-1. Cyber Center of NSTU was inaugurated by the former Honourable State Minister (Presently Minister, Ministry of Science & Technology Division People’s Republic of Bangladesh) Architect Yeafesh Osman on 29 March, 2011. The main objective is to support academic, research and administrative functions of the University. There are 25 computers in the cyber center’s lab for the students.</p>
  <h2 style="color: orange">Cyber Center Services</h2>
  <ul>
      <li>Maintaining NSTU Official Website.</li>
      <li>Maintaining and Updating NSTU Dairy Mobile Apps.</li>
      <li>NSTU Email (NSTU SOFTBOX) Services.</li>
      <li>Official ID Card Printing.</li>
      <li>Internet Browsing facilities for all Students,teachers,officers and staffs (In Cyber Center Lab Room). </li>
  </ul>
  <h2 style="color: orange;">Cyber Center Support</h2>
  <p>If you faces any issues, please free to write/call to us of the following email address and Phone No:</p>
  <ul>
      <li>Cyber Center Support | e-mail: cybercenter@nstu.edu.bd</li>
      <li>For Students (Institutional e-mail related services) | e-mail: softbox@nstu.edu.bd</li>
      <li>Phone No (Office Hour Only) | dial: +88-01708413520</li>
  </ul>
</div>
  {% include 'chatbot.html' %}
{% include 'includes/footer.html' %}