{% include 'includes/header.html' %}

<div class="container my-3">
  <h2 style="color: blue;">About Medical Center</h2>
  <p>The medical center of Noakhali science and technology university (NSTU) temporary located administration building ground floor , room no-117,offers free experienced general practitioner and emergency medical care services to all members (students, teachers, officers, staff, also family members of the teachers, officers, staff­ ) of the university community.</p>
  <p>The center provides service usually 8.30 am to 5.00 pm in working days but provide emergency services 24 hours. All members of the university get medicine from the medical center at free of cost .The center also has an ambulance, for 24 hours service.</p>

  <h2 style="color: blue;">Support</h2>
  <ul>
      <li>Our staffs are available to you deal with your problems by treating you as a responsible adult, offering conservative support without judgement.</li>
  </ul>
  <h2 style="color: blue;">Services</h2>
  <ul>
      <li>Routine medical examination and health check up (pulse, temperature, blood pressure etc).</li>
      <li>Treatment of illness, injury and other physical problems.</li>
      <li>Minor surgical procedure and wound management (drainage of abscess, boil etc).</li>
      <li>Minor sports injury management in the field.</li>
      <li>Travel medicine and advice for the departments.</li>
      <li>Emergency management asthmatic patient by nebulization and oxygen mask.</li>
      <li>To check blood sugar by glucometer at free of cost.</li>
      <li>Referral to specialist according to need and condition of the patient.</li>
      <li>Issuing medical certificate.</li>
      <li>Medical assessment/pre-employment Medicals (by issuing fitness certificate).</li>
  </ul>

  <h2 style="color: blue;">Contact Address</h2>
  <p>
      Medical Center</br>

      Noakhali Science and Technology University</br>

      Noakhali-3814, Noakhali.</br>

      (Office Hour: 9:00 AM to 5:00 PM, Days: Sunday to Thursday, Closed weekend day: Friday and Saturday)</br>

      Phone: 02334496572 (Office)</br>

      Website : www.nstu.edu.bd</p>
</div>
  {% include 'chatbot.html' %}
{% include 'includes/footer.html' %}